<template>
  <div class="camera-settings-wrap" :class="{ visible: cameraSettingsDialog }">
    <div class="camera-settings">
      <header>
        <h4 class="title">настройки камеры</h4>
        <button @click="toggleCameraSettingsDialog">×</button>
      </header>

      <label for="zoom-speed">
        Скорость масштабирования:  {{(zoomSpeed * 4).toFixed(0)}}
      </label>
      <input
        type="range"
        id="zoom-speed"
        min=".25"
        max="2"
        step="0.25"
        :value="zoomSpeed"
        @input="updateZoomSpeed"
      >
      <label for="rotate-speed">
        Скорость вращения: {{(rotateSpeed * 200).toFixed(0)}}
      </label>
      <input
        type="range"
        id="rotate-speed"
        min=".025"
        max=".2"
        step="0.005"
        :value="rotateSpeed"
        @input="updateRotateSpeed"
      >
      <div class="input-group switch">
        <input
          type="checkbox"
          id="damping"
          :checked="enableDamping"
          @change="changeDamping"
        >
        <label for="damping">
          Дэмпинг
        </label>
      </div>
      <div class="input-group switch">
        <input
          type="checkbox"
          id="texture"
          :checked="hasTexture"
          @change="changeTexture"
        >
        <label for="texture">
          Текстура левого крыла
        </label>
      </div>
      <!-- <div class="input-group switch">
        <input
          type="checkbox"
          id="invert-zoom"
          :checked="invertZoom"
          @change="updateZoomInvert"
        >
        <label for="invert-zoom">
          Инвертировать масштабирование
        </label>
      </div> -->
    </div>
  </div>
</template>

<script>
import { mapState, mapMutations } from 'vuex'
export default {
	props: {
		isVisible: Boolean
	},
	computed: {
		...mapState([
			'cameraSettingsDialog',
			'zoomSpeed',
			'rotateSpeed',
			'invertZoom',
			'enableDamping',
			'hasTexture'
		])
	},
	methods: {
		toggleCameraSettingsDialog() {
			this.$store.commit('toggleCameraSettingsDialog')
		},
		updateZoomSpeed(e) {
			this.$store.commit('setZoomSpeed', e.target.value)
		},
		updateRotateSpeed(e) {
			this.$store.commit('setRotateSpeed', e.target.value)
		},
		updateZoomInvert(e) {
			this.$store.commit('setZoomInvert', e.target.checked)
		},
		changeDamping(e) {
			this.$store.commit('changeDamping', e.target.checked)
		},
		changeTexture(e) {
			this.$store.commit('changeTexture', e.target.checked)
		}
	}
}
</script>

<style lang="postcss" scoped>
  @import "../../assets/styles/variables.css";

  .title {
    text-transform: uppercase;
    letter-spacing: .025em;
    user-select: none;
  }

  .camera-settings-wrap {
    display: block;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 1000;
    opacity: 0;
    pointer-events: none;
    opacity: 0;
    background: radial-gradient(circle at center, #f4f4f4.5, var(--color--light).5);
  }

  @keyframes backdrop {
    from { opacity: 0; }
    to { opacity: 1; }
  }

  @keyframes dialog {
    from {
      transform: perspective(500px) translate(-50%, -25%) rotateX(45deg) scale(0.1);
      opacity: 0;
    }
  }

  .camera-settings {
    position: fixed;
    top: 50%;
    left: 50%;
    right: auto;
    background: linear-gradient(to top, var(--color--dark), var(--color--dark-alt)) var(--color--dark);
    color: var(--color--light);
    box-shadow: 0 3px 9px #000.15, 0 3px 27px #000.15;
    padding: 1rem;
    border-radius: 3px;
    width: 30rem;
    z-index: 1500;
    transform: perspective(500px) translate(-50%, -50%);

    & header button {
      background-color: transparent;
      border: none;
      padding: 0;
      color: var(--color--light);
      position: absolute;
      right: 0;
      top: 0;
      cursor: pointer;
      font-size: 1.5rem;
      font-weight: 200;
      width: 2rem;
      line-height: 2rem;
      height: 2rem;
      text-align: center;
      opacity: .5;
      transition: opacity .225s var(--ec--alt);

      &:hover, &:focus {
        opacity: 1;
      }

      &:active {
        opacity: .5;
      }
    }
  }

  .visible {
    opacity: 1;
    pointer-events: all;
    animation: backdrop 500ms var(--ec--alt) forwards 1;

    & .camera-settings {
      animation: dialog 400ms var(--ec--alt) forwards 1;
    }
  }

  input, label {
    display: block;
  }

  label {
    margin-top: 1rem;
    margin-bottom: .25rem;
    user-select: none;
  }

  input {
    margin-bottom: 1rem;
  }

  .switch {
    & input {
      opacity: 0;
      position: absolute;
      pointer-events: none;

      &:checked ~ label {
        &::before {
          transform: translateX( calc( var(--ms) * 1rem ) );
          background-color: var(--color--light);
          border-color: var(--color--light).5;
        }

        &::after {
          background-color: color( var(--color--primary) hue(-5));
        }
      }
    }

    & label {
      position: relative;
      padding-left: 4rem;
      line-height: calc( var(--ms) * 1rem );
      cursor: pointer;

      &::before, &::after {
        content: "";
        position: absolute;
        display: block;
      }

      &::before {
        transition: .3s var(--ease-out-quint);
        transition-property: transform, background, border-color;
        background: linear-gradient( to bottom, var(--color--light).0, var(--color--dark).2);
        background-color: var(--color--dark);
        border: 2px solid var(--color--light).1;
        box-shadow: 0 3px 9px #000.25, 0 3px 18px #000.25;
        border-radius: calc( var(--ms) * 1rem );
        width: calc( var(--ms) * 1rem - 2px );
        height: calc( var(--ms) * 1rem - 2px );
        z-index: 10;
        left: 1px;
        top: 1px;
      }

      &::after {
        z-index: 1;
        left: 0;
        top: 0;
        box-shadow: inset 0 1px 3px #000.4, inset 0 1px 9px #000.3;
        background-color: var(--color--dark);
        border-radius: calc( var(--ms) * 1rem );
        width: calc( var(--ms) * 2rem );
        height: calc( var(--ms) * 1rem );
        transition: background-color .3s var(--ease-out-quint);
      }
    }
  }
</style>
