<template>
  <div class="zoom-dialog" @click="closeZoomDialog">
    <img :src="imageSrc" :style="`transform: translate(${transX}%, ${transY}%) scale(1)`" >
  </div>
</template>

<script>
  export default {
    props: {
      imageSrc: String
    },
    data() {
      return {
        transX: -50,
        transY: -50,
        clientWidth: 0,
        clientHeight: 0
      }
    },
    methods: {
      moveHandler(event) {
        this.transY = -40 - ( event.pageY / this.clientHeight ) * 20
        this.transX = -40 - ( event.pageX / this.clientWidth ) * 20
      },
      closeZoomDialog() {
        this.$emit('close')
      },
      getWindowWidth(event) {
        this.clientWidth = document.documentElement.clientWidth
      },
      getWindowHeight(event) {
        this.clientHeight = document.documentElement.clientHeight
      }
    },
    created () {
      window.addEventListener( 'mousemove', this.moveHandler )
      window.addEventListener( 'resize', this.getWindowWidth )
      window.addEventListener( 'resize', this.getWindowHeight )
    },
    mounted () {
      this.getWindowWidth()
      this.getWindowHeight()
    },
    beforeDestroyed () {
      window.removeEventListener( 'mousemove', this.moveHandler );
      window.removeEventListener( 'resize', this.getWindowWidth )
      window.removeEventListener( 'resize', this.getWindowHeight )
    }
  }
</script>

<style scoped lang="postcss">
  .zoom-dialog {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 100;
    cursor: zoom-out;
    background-color: #000.5;
    transition: background-color .3s var(--ec--main);
  }

  img {
    position: absolute;
    display: block;
    left: 50%;
    top: 50%;
    box-shadow: 0 3px 9px #000.15, 0 3px 27px #000.15;
  }
</style>