<template>
  <transition 
		@before-enter="beforeEnter"
		@enter="enter"
		@leave="leave"
		:css="false"
		>
    <div class="inspector-wrap" @click.self="close">
      <transition name="scaling">
        <image-zoom
          v-if="showZoom && imgSrc"
          :imageSrc="imgSrc"
          @close="showZoom = !showZoom"
        />
      </transition>
      <div class="inspector" ref="inspector">
        
        <header class="inspector-header">
          <h2 v-if="inspectorData.Title">{{ inspectorData.Title.value }}</h2>
          <button class="close" @click="close"><span>×</span></button>
        </header>

        <transition :name="transitionName" @after-leave="toggleTransitionName">
          <div class="inspector-body" v-if="videoSection" key="video-slide">
            <video controls src="/sample-video.mp4"/>
          </div>
          <div class="inspector-body" v-if="!videoSection" key="not-video-slide">
            <section class="media">
              <div class="media-placeholder" @click="showZoom = true" v-if="imgSrc">
                <img :src="imgSrc" />
              </div>
              <div v-if="Object.keys(inspectorData).length !== 0">
                <dl>
                  <dt>{{inspectorData.InventoryNumber.name || ''}}:</dt>
                  <dd>{{inspectorData.InventoryNumber.value || ''}}</dd>
                  <dt>{{inspectorData.Status.name || ''}}:</dt>
                  <dd>{{inspectorData.Status.value || ''}}</dd>

                  <dt v-if="inspectorData.TechnicalPlace">
                    {{inspectorData.TechnicalPlace.name || ''}}:
                  </dt>
                  <dd v-if="inspectorData.TechnicalPlace">
                    {{inspectorData.TechnicalPlace.value || ''}}
                  </dd>
                </dl>
              </div>
            </section>

            <div class="content">
              <ul class="nav-tabs">
                <li
                  v-for="(tab, tabIndex) in tabs" :key="`tab-${tabIndex}`"
                  :class="{ active: tabIndex === currentTabIndex }"
                  @click="setActiveTab(tabIndex)">
                  {{ tab.name }}
                </li>
              </ul>
              <vue-scrollbar classes="tabs-content">
                <div class="scrolling-content">
                  <div
                    class="tab"
                    :class="{ active: tabIndex === currentTabIndex }"
                    v-for="(tab, tabIndex) in tabs"
                    :key="`tab-${tabIndex}`">
                    <div
                      class="item"
                      v-for="(item, itemIndex) in tab.content"
                      :key="`item-${itemIndex}`">
                      <div class="name">{{ item.name }}</div>
                      <div class="value" v-if="item.sysName === 'File' && item.value !== null">
                        <a class="file" :href="`http://svo-api.pba.su/Files/GetFile?fileid=${item.value.FileID}`">
                          <span class="icon">
                            .{{ item.value.Extension.toLowerCase() }}
                          </span> <span class="file-name">
                            {{ item.value.FileName }}
                          </span>
                        </a>
                      </div>
                      <div class="value" v-else-if="item.sysName === 'BuildingStage' && item.value !== null">
                        {{ item.value.ID }}
                      </div>
                      <div class="value" v-else>{{ item.value }}</div>
                    </div>
                  </div>
                </div>
              </vue-scrollbar>
            </div>
          </div>
        </transition>

        <footer class="actions" >
          <button
            class="action"
            @click="gotoRoom"
            v-if="objectMnemonic === 'AdministrativeSpace' && objectId === 1">
            Подробнее
          </button>
          <button
            class="action"
            @click="videoSection = !videoSection"
            v-if="hasVideo">
            <transition :name="transitionName">
              <span v-if="!videoSection" key="show-video">Показать&nbsp;видео</span>
              <span v-if="videoSection" key="hide-video">
                <svg class="icon">
                  <use
                    xmlns:xlink="http://www.w3.org/1999/xlink"
                    xlink:href="#icon-arrow"
                  ></use>
                </svg>
                Вернуться
              </span>
            </transition>
          </button>
        </footer>
      </div>
    </div>
  </transition>
</template>

<script>
import ImageZoom from '~/components/widgets/ImageZoom.vue'
import VueScrollbar from 'vue2-scrollbar'

import TweenMax from 'gsap/TweenMax'
import _forEach from 'lodash/forEach'
import _find from 'lodash/find'

export default {
	props: {
		objectMnemonic: String,
		objectId: [Number, String],
		loading: Boolean,
		error: String
	},
	components: {
		ImageZoom,
		VueScrollbar
	},
	data() {
		return {
			inspectorData: {},
			tabs: [],
			videoSection: false,
			transitionName: 'slide',
			showZoom: false,
			currentTabIndex: 0,
			dataError: false
		}
	},
	computed: {
		imgSrc() {
			const data = _find(this.serverData, {
				mnemonic: this.objectMnemonic,
				id: this.objectId
			})
			return data ? data.imageUrl : null
		},
		hasVideo() {
			return this.objectMnemonic === 'Camera' || this.objectMnemonic === 'TV'
				? true
				: false
		},
		serverData() {
			return this.$store.state.serverData
		}
	},
	methods: {
		gotoRoom() {
			this.$store.commit('changeScene', 'D/Floor3/Place3')
			this.$emit('close')
		},
		toggleTransitionName() {
			this.transitionName =
				this.transitionName === 'slide' ? 'slideback' : 'slide'
		},
		setActiveTab(index) {
			this.currentTabIndex = index
		},
		populateInspector() {
			// поиск объекта по мнемонике и id
			const data = _find(this.serverData, {
				mnemonic: this.objectMnemonic,
				id: this.objectId
			})

			// если нашли записать данные в tabs и inspectorData
			if (data) {
				const widgetTabs = data.data.tabs
				const model = data.data.model

				_forEach(widgetTabs, (item, index) => {
					const content = item.Properties.map(el => {
						let value = ''
						let enumeral = null

						switch (el.Type) {
							case 'Enum':
								enumeral = _find(
									el.Values,
									item => item.Value === model[el.SysName]
								)
								value = enumeral ? enumeral.Title : ''
								break
							default:
								value = model[el.SysName]
								break
						}

						return {
							name: el.Title,
							sysName: el.SysName,
							value: value
						}
					})

					const element = {
						name: item.Title,
						active: index === 0 ? true : false,
						content: content.filter(i => i.sysName !== 'Image')
					}

					let base = {}

					_forEach(item.Properties, el => {
						let value = ''
						let enumeral = null

						switch (el.Type) {
							case 'Enum':
								enumeral = _find(
									el.Values,
									item => item.Value === model[el.SysName]
								)
								value = enumeral ? enumeral.Title : ''
								break
							default:
								value = model[el.SysName]
								break
						}

						base[el.SysName] = {
							name: el.Title,
							value: value
						}
					})

					if (index === 0) this.inspectorData = base

					this.tabs.push(element)
				})
			} else {
				// если не нашли показать ошибку: данные не найдены
				this.dataError = true
			}
		},
		beforeEnter(el) {
			TweenMax.set(el, { opacity: 0 })
			TweenMax.set(this.$refs.inspector, { css: { scale: 0.05, opacity: 0 } })
		},
		enter(el, done) {
			const tl = new TimelineMax()

			tl
				.to(el, 0.15, {
					opacity: 1,
					ease: Circ.easeIn
				})
				.to(this.$refs.inspector, 0.25, {
					css: { scale: 1, opacity: 1 },
					ease: Sine.easeIn,
					onComplete: done
				})
		},
		leave(el, done) {
			const tl = new TimelineMax()
			tl
				.to(
					this.$refs.inspector,
					0.25,
					document.documentElement.clientWidth < 768
						? {
								x: '-100%',
								ease: Expo.easeIn
						  }
						: {
								css: { scale: 0.5, opacity: 0 },
								ease: Expo.easeIn
						  }
				)
				.to(el, 0.25, {
					opacity: 0,
					ease: Circ.easeOut,
					onComplete: done
				})
		},
		close() {
			this.$emit('close')
		},
		escListener(e) {
			if (e.keyCode === 27) this.close()
		}
	},
	created() {
		document.addEventListener('keyup', this.escListener)
		window.addEventListener('resize', this.animateModalSize)
	},
	mounted() {
		this.$nextTick(function() {
			this.populateInspector()
		})
	},
	destroyed() {
		document.removeEventListener('keyup', this.escListener)
		window.removeEventListener('resize', this.animateModalSize)
	}
}
</script>

<style lang="postcss">
  @import "../../assets/styles/variables.css";
  @import "../../assets/styles/widgets/inspector-header.pcss";
  @import "../../assets/styles/widgets/inspector-backdrop.pcss";
  @import "../../assets/styles/widgets/inspector-actions.pcss";
  @import "../../assets/styles/widgets/inspector-tabs.pcss";

  .fade-enter-active, .fade-leave-active { transition: opacity .5s var(--ec--main); }
  .fade-enter, .fade-leave-to { opacity: 0; }

  .scaling-enter-active, .scaling-leave-active { transition: transform .5s var(--ec--alt); }
  .scaling-enter, .scaling-leave-to { transform: scale(0); }

  .slide-enter-active,
  .slide-leave-active,
  .slideback-enter-active,
  .slideback-leave-active {
    transition: .4s var(--ec--alt);
    transition-property: opacity, transform;
  }

  .slide-enter, .slideback-leave-to { transform: translateX(100%); opacity: 0; }
  .slide-enter-to, .slideback-enter-to { transform: translateX(0); }
  .slide-leave-to, .slideback-enter { transform: translateX(-100%); opacity: 0; }

  .inspector {
    width: 55rem;
    height: calc( var(--ms) * 20rem );
    max-width: 100%;
    border-radius: 3px;
    box-shadow: 0 3px 9px #000.15, 0 3px 27px #000.15;
    position: relative;
    overflow: hidden;

    transform: perspective(500px) translate(-50%, -50%);
	  background: linear-gradient(to bottom, var(--color--light).9, #F4F4F4.9) var(--color--light).9;
  }

  .inspector-body {
    display: flex;
    user-select: none;
    position: absolute;
    top: calc( var(--ms) * 1.5rem );
    left: 0;
    right: 0;
    bottom: calc( var(--ms) * 2rem );

    & video {
      width: 100%;
      max-height: calc( var(--ms) * 16.5rem );
    }

    & .content {
      flex-grow: 1;
    }

    & .media {
      width: 18rem;
      padding: calc( var(--ms) * .75rem );
      flex-shrink: 0;
      font-weight: 300;

      & img {
        max-width: 100%;
        max-height: calc( var(--ms) * 8.5rem );
        margin: 0 auto;
        display: block;
        cursor: zoom-in;
        margin-bottom: calc( var(--ms) * .75rem );
      }

      & h3 {
        color: var(--color--secondary);
      }

      & dl {
        line-height: calc( var(--ms) * 1.125rem );

        & dd {
          font-weight: 400;
          margin-top: calc( var(--ms) * -.25rem );
          margin-bottom: calc( var(--ms) * .25rem );
        }
      }
    }
  }
</style>
