<template>
  <!-- <transition
    @before-enter="beforeEnter"
    @enter="enter"
    @leave="leave"
    :css="false"
    appear
  > -->
  <transition>
    <div
      class="notification"
      v-if="this.$store.state.notification"
      >
      {{content}}
    </div>
  </transition>
</template>

<script>
  // import TweenLite from "gsap/TweenLite";
  // import EasePack from "gsap/EasePack";

  export default {
    computed: {
      content () {
        return this.$store.state.notificationContent
      }
    },
    methods: {
      // beforeEnter (el) {
      //   console.log( 'before enter' )
      // },
      // enter ( el, done ) {
      //   console.log( 'enter' )
      //   TweenLite.fromTo(el, 0.5, {
      //     opacity: 0,
      //     autoAlpha: 0,
      //     y: -50
      //   }, 
      //   {
      //     opacity: 1,
      //     y: 0,
      //     autoAlpha: 1,
      //     ease: EasePack.Expo.easeOut,
      //     onComplete: done
      //   })
      // },
      // leave ( el, done ) {
      //   console.log( 'leave' )

      //   TweenLite.to(el, 1, {
      //     y: 25,
      //     opacity: 0,
      //     autoAlpha: 0,
      //     ease: EasePack.Expo.easeOut,
      //     onComplete: done
      //   })
      // }
    }
  }
</script>

<style scoped lang="postcss">
  @import "../../assets/styles/variables.css";

  .notification {
    background-color: var(--color--dark-alt);
    color: var(--color--light);
    padding: calc( var(--ms) * .5rem ) calc( var(--ms) * 1rem );
    position: fixed;
    z-index: 10;
    top: calc( var(--ms) * 6.5rem );
    left: calc( var(--ms) * 1rem );
    pointer-events: none;
    border-radius: 2px;
    letter-spacing: .025em;
    line-height: calc( var(--ms) * 1rem );
    font-size: .875rem;
    box-shadow: 0 3px 9px #000.15, 0 3px 27px #000.15;
    
    &.v-enter-active,
    &.v-leave-active {
      transition-property: opacity, transform;
    }

    &.v-enter-active {
      transition: .25s var(--ec--main);
    }

    &.v-leave-active {
      transition: .5s var(--ec--alt);
    }

    &.v-enter, &.v-leave-to {
      opacity: 0;
    }

    &.v-enter {
      transform: translateY(-25%);
    }

    &.v-leave-to {
      transform: translateY(25%);
    }
  }
</style>