<template>
  <div class="obj-filter">
    <div class="filter-group" :class="{ collapsed: !linesFilter }">
      <header>
        <h3>Комуникации</h3>
        <button @click="linesFilter = !linesFilter">
          <svg class="icon-collapse">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-arrow"></use>
          </svg>
        </button>
      </header>
      
      <div class="filter-group-list">
        <div
          v-for="item in lineList"
          class="filter-item"
          :class="[
            { disabled: item.disabled },
            { visible: item.visible }
          ]"
          :key="item.id"
        >
          <svg class="icon">
            <use
              xmlns:xlink="http://www.w3.org/1999/xlink"
              :xlink:href="`#icon-${item.icon}`"
            ></use>
          </svg>
          <label
            :for="`obj-${item.id}`"
            @click="toggleVisibility(item)"
          >{{item.name}}</label>
        </div>
      </div>
    </div>
      
    <div class="filter-group" :class="{ collapsed: !techFilter }">
      <header>
        <h3>Технические объекты</h3>
        <button @click="techFilter = !techFilter">
          <svg class="icon-collapse">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-arrow"></use>
          </svg>
        </button>
      </header>
      <div class="filter-group-list">
        <div
          v-for="item in techList"
          class="filter-item"
          :class="[
            { disabled: item.disabled },
            { visible: item.visible }
          ]"
          :key="item.id"
        >
          <svg class="icon">
            <use
              xmlns:xlink="http://www.w3.org/1999/xlink"
              :xlink:href="`#icon-${item.icon}`"
            ></use>
          </svg>
          <label
            :for="`obj-${item.id}`"
            @click="toggleVisibility(item)"
          >{{item.name}}</label>
        </div>
      </div>
      
    </div>
  </div>
</template>

<script>
  export default {
    computed: {
      lineList () {
        return [
          {
            id: 'airconditioner',
            name: 'Кондиционирование',
            icon: 'conditioning',
            disabled: true
          },
          {
            id: 'power',
            name: 'Электросети',
            icon: 'electricity',
            type: 'SVO_D_Stage3_Place3_Electro',
            visible: this.$store.getters.getVisibilityByName('SVO_D_Stage3_Place3_Electro_1')
          },
          {
            id: 'natural-gas',
            name: 'Газоснобжение',
            icon: 'gasification',
            disabled: true
          },
          {
            id: 'hot-water',
            name: 'ГВС',
            icon: 'hot-water',
            disabled: true
          },
          {
            id: 'cold-water',
            name: 'ХВС',
            icon: 'cold-water',
            disabled: true
          },
          {
            id: 'sewerage',
            name: 'Канализация',
            icon: 'canalization',
            disabled: true
          },
          {
            id: 'heating',
            name: 'Теплоснабжение',
            icon: 'heating',
            type: 'SVO_D_Stage3_Place3_Warm',
            visible: this.$store.getters.getVisibilityByName('SVO_D_Stage3_Place3_Warm_1')
          },
          {
            id: 'firefighters',
            name: 'Пожаротушение',
            icon: 'fire-fighting',
            type: 'SVO_D_Stage3_Place3_Fire',
            visible: this.$store.getters.getVisibilityByName('SVO_D_Stage3_Place3_Fire_1')
          },
          {
            id: 'vent',
            name: 'Вентиляция',
            icon: 'ventilation',
            type: 'SVO_D_Stage3_Place3_Ventilation',
            visible: this.$store.getters.getVisibilityByName('SVO_D_Stage3_Place3_Ventilation_1')
          }
        ]
      },
      techList () {
        return [
          {
            id: 'elevators',
            name: 'Лифты',
            icon: 'elevator',
            disabled: true
          },
          {
            id: 'escalators',
            name: 'Эскалаторы',
            icon: 'escalator',
            disabled: true
          },
          {
            id: 'conveyor',
            name: 'Конвеер',
            icon: 'conveyor',
            disabled: true
          },
          {
            id: 'retail-equipment',
            name: 'Торговое оборудование',
            icon: 'retail-equipment',
            disabled: true
          },
          {
            id: 'refrigirators',
            name: 'Холодильники',
            icon: 'refrigerator',
            disabled: true
          },
          {
            id: 'cameras',
            name: 'Видеокамеры',
            icon: 'camera',
            type: 'SVO_D_Stage3_Place3_Camera',
            visible: this.$store.getters.getVisibilityByName('SVO_D_Stage3_Place3_Camera_1')
          },
          {
            id: 'tv',
            name: 'ТВ панели',
            icon: 'tv',
            type: 'SVO_D_Stage3_Place3_TV',
            visible: this.$store.getters.getVisibilityByName('SVO_D_Stage3_Place3_TV_1')
          },
          {
            id: 'info',
            name: 'Инфоматы',
            icon: 'infomat',
            type: 'SVO_D_Stage3_Place3_Infomat',
            visible: this.$store.getters.getVisibilityByName('SVO_D_Stage3_Place3_Infomat_1')
          }
        ]
      },
    },
    data() {
      return {
        linesFilter: false,
        techFilter: false,
      }
    },
    methods: {
      toggleVisibility (item) {
        if (!item.disabled) {
          this.$store.commit(
            'changeVisibilityByType',
            {
              type: item.type,
              visible: !item.visible
            }
          )
        }
      }
    }
  }
</script>

<style lang="postcss">
  @import "../../assets/styles/variables.css";

  .obj-filter {
    position: absolute;
    z-index: 100;
    right: 0;
    
    top: calc(var(--ms) * 6rem);
    bottom: 0;
    width: 15rem;
    transition: .225s var(--ec--alt);
    transition-property: opacity, transform;

    @media (min-width: 1800px) {
      width: 18rem;
    }
  }

  .filter-group {
    background-color: var(--color--dark-alt);
    color: var(--color--light);
    margin-bottom: calc(var(--ms) * .75rem);
    box-shadow: 0 1px 3px var(--color--dark).15, 0 1px 9px var(--color--dark).15;
    transition: transform .225s var(--ec--alt);

    & header {
      position: relative;
      padding: calc(var(--ms) * .5rem) .75rem;
      line-height: calc(var(--ms) * .75rem);
      margin-left: -2px;
      background-color: var(--color--dark);

      & h3 {
        transition: opacity .45s var(--ec--alt);
        font-size: 1rem;
        user-select: none;
        font-weight: 400;
        letter-spacing: .025em;
      }
    }

    & .filter-group-list {
      padding: calc(var(--ms) * .25rem) 0;
    }

    & button {
      background-color: transparent;
      border: 0;
      height: calc(var(--ms) * 1.25rem);
      width: calc(var(--ms) * 1.25rem);
      text-align: center;
      padding: 0;
      position: absolute;
      right: calc(var(--ms) * .45rem);
      top: calc(var(--ms) * .25rem);
      transform: rotate(180deg);
      transition: .225s var(--ec--alt);
      transition-property: transform, background-color;
      border-radius: 3px;
      z-index: 100;
      cursor: pointer;
      color: var(--color--light);
      user-select: none;
      display: inline-flex;
      justify-content: center;
      align-items: center;

      & .icon-collapse {
        line-height: calc(var(--ms) * 1.3rem);
        height: calc(var(--ms) * .75rem);
        width: calc(var(--ms) * .75rem);
        display: block;
        opacity: 1;
        font-size: 1.5rem;
        text-align: center;
        user-select: none;
        fill: var(--color--light);
        transition: fill .225s var(--ec--alt);
      }

      &:hover {
        background-color: #000.1;

        & .icon-collapse {
          fill: var(--color--primary);
        }
      }

      &:active {
        background-color: #000.04;
      }
    }

    &.collapsed {
      transform: translateX(12.5rem);

      @media (min-width: 1800px) {
        transform: translateX(15rem);
      }

      & h3 {
        opacity: 0;
      }

      & button {
        transform: rotate(0deg) translateX(-12.25rem);

        @media (min-width: 1800px) {
          transform: rotate(0deg) translateX(-15rem);
        }
      }

      & .filter-item label {
        padding-left: 3.3rem;

        @media (min-width: 1800px) {
          padding-left: 4rem;
        }
      }
    }
  }

  .filter-item {
    position: relative;
    margin-bottom: 1px;

    & .icon {
      position: absolute;
      left: .5rem;
      top: 0;
      fill: var(--color--light).9;
      height: calc(var(--ms) * 1rem);
      width: calc(var(--ms) * 1rem);
      border-radius: 50%;

      transition: .225s var(--ec--alt);
      pointer-events: none;
      transition-property: background-color, fill, transform;

      @media (min-width: 1800px) {
        height: calc( var(--ms) * 1.5rem );
        width: calc( var(--ms) * 1.5rem );
      }
    }

    &.visible {
      & label {
        background-color: var(--color--primary).2;
        color: var(--color--primary);
        margin-left: -.75rem;
      }

      & .icon {
        background-color: var(--color--dark);
        fill: var(--color--primary);

        transform: translateX(-1rem)
      }
    }

    &.disabled {
      & label {
        opacity: .25;
        cursor: not-allowed;
        background-color: transparent !important;
      }

      & .icon {
        fill: var(--color--light).1;
      }
    }

    & label {
      display: block;
      font-size: .75rem;
      line-height: calc(var(--ms) * 1rem);
      transition: .225s var(--ec--alt);
      transition-property: background-color, color, margin, padding;
      cursor: pointer;
      padding-left: 2.5rem;
      user-select: none;

      @media (min-width: 1800px) {
        line-height: calc( var(--ms) * 1.5rem );
        font-size: 1rem;
        padding-left: 3.5em;
      }

      &:hover {
        background-color: var(--color--dark).5;
      }

      &:active {
        background-color: var(--color--dark-alt).5;
      }
    }
  }
</style>
