<template>
  <div class="obj-tree-wrap" :class="{ 'obj-tree-collapsed': objTreeCollapsed }">
    <header class="obj-tree-header">
      <button class="collapse-tree" @click="objTreeCollapsed = !objTreeCollapsed">
        <svg class="icon">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-arrow"></use>
        </svg>
      </button>
    </header>
    <vue-scrollbar classes="obj-tree">
      <div class="obj-tree-content">
        <div
          v-for="item in treeList"
          class="tree-item"
          :key="item.id"
          :class="[
            { focused: item.focused },
            { hovered: item.hovered },
            { disabled: item.disabled },
            { collapsed: collapsed[item.id] },
            { 'has-children': item.children }
          ]"
          >
          <h4
            @click="selectionHandler(item)"
            @mouseover="setHover(item)"
            @mouseout="setMouseout(item)"
            >
            <svg class="icon">
              <use
                xmlns:xlink="http://www.w3.org/1999/xlink"
                :xlink:href="`#icon-${item.icon}`"
              ></use>
            </svg>
            <span>{{ item.name }}</span>
          </h4>
          <button
            v-if="item.children"
            @click="collapseHandler(item.id)"
            class="collapse-button"
            >
            <svg class="icon-arrow">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-arrow"></use>
            </svg>
          </button>
          <ul v-if="item.children">
            <li
              v-for="child in item.children"
              :class="[
                { focused: child.focused },
                { hovered: child.hovered }
              ]"
              :key="child.id"
              @mouseover="setHover(child)"
              @mouseout="setMouseout(child)"
              @click="selectionHandler(child)"
            >
              {{ child.name }}
            </li>
          </ul>
        </div>
      </div>
    </vue-scrollbar>
    <footer class="obj-tree-footer">
      <div class="search-wrap">
        <button class="submit">
          <svg class="search-icon">
            <use
              xmlns:xlink="http://www.w3.org/1999/xlink"
              xlink:href="#icon-search"
            ></use>
          </svg>
        </button>
        <input class="search-field" type="text">
      </div>
      <div class="logo-wrap">
        <svg class="svo-logo">
          <use
            xmlns:xlink="http://www.w3.org/1999/xlink"
            xlink:href="#svo-logo"
          ></use>
        </svg>
        <h1>Шереметьево</h1>
        <h2>международный аэропорт</h2>
        <div class="year">2018г.</div>
      </div>
    </footer>
  </div>
</template>

<script>
import VueScrollbar from 'vue2-scrollbar'

export default {
	components: { VueScrollbar },
	computed: {
		treeList() {
			return [
				{
					id: 'airconditioner',
					icon: 'conditioning',
					name: 'Кондиционирование',
					disabled: true,
					focused: false,
					hovered: false
				},
				{
					id: 'power',
					icon: 'electricity',
					name: 'Электросети',
					meshName: 'SVO_D_Stage3_Place3_Electro_1',
					focused: this.$store.getters.getFocusByName(
						'SVO_D_Stage3_Place3_Electro_1'
					),
					hovered: this.$store.getters.getHoverByName(
						'SVO_D_Stage3_Place3_Electro_1'
					)
				},
				{
					id: 'natural-gas',
					icon: 'gasification',
					name: 'Газоснобжение',
					disabled: true,
					focused: false,
					hovered: false
				},
				{
					id: 'hot-water',
					icon: 'hot-water',
					name: 'ГВС',
					disabled: true,
					focused: false,
					hovered: false
				},
				{
					id: 'cold-water',
					icon: 'cold-water',
					name: 'ХВС',
					disabled: true,
					focused: false,
					hovered: false
				},
				{
					id: 'sewerage',
					icon: 'canalization',
					name: 'Канализация',
					disabled: true,
					focused: false,
					hovered: false
				},
				{
					id: 'heating',
					icon: 'heating',
					name: 'Теплоснабжение',
					meshName: 'SVO_D_Stage3_Place3_Warm_1',
					focused: this.$store.getters.getFocusByName(
						'SVO_D_Stage3_Place3_Warm_1'
					),
					hovered: this.$store.getters.getHoverByName(
						'SVO_D_Stage3_Place3_Warm_1'
					)
				},
				{
					id: 'firefighters',
					icon: 'fire-fighting',
					name: 'Пожаротушение',
					meshName: 'SVO_D_Stage3_Place3_Fire_1',
					focused: this.$store.getters.getFocusByName(
						'SVO_D_Stage3_Place3_Fire_1'
					),
					hovered: this.$store.getters.getHoverByName(
						'SVO_D_Stage3_Place3_Fire_1'
					)
				},
				{
					id: 'vent',
					icon: 'ventilation',
					name: 'Вентиляция',
					meshName: 'SVO_D_Stage3_Place3_Ventilation_1',
					focused: this.$store.getters.getFocusByName(
						'SVO_D_Stage3_Place3_Ventilation_1'
					),
					hovered: this.$store.getters.getHoverByName(
						'SVO_D_Stage3_Place3_Ventilation_1'
					)
				},
				{
					id: 'elevators',
					icon: 'elevator',
					name: 'Лифты',
					disabled: true,
					focused: false,
					hovered: false
				},
				{
					id: 'escalators',
					icon: 'escalator',
					name: 'Эскалаторы',
					disabled: true,
					focused: false,
					hovered: false
				},
				{
					id: 'conveyor',
					icon: 'conveyor',
					name: 'Конвеер',
					disabled: true,
					focused: false,
					hovered: false
				},
				{
					id: 'retail-equipment',
					icon: 'retail-equipment',
					name: 'Торговое оборудование',
					disabled: true,
					focused: false,
					hovered: false
				},
				{
					id: 'refrigirators',
					icon: 'refrigerator',
					name: 'Холодильники',
					disabled: true,
					focused: false,
					hovered: false
				},
				{
					id: 'cameras',
					icon: 'camera',
					name: 'Видеокамеры',
					meshName: 'SVO_D_Stage3_Place3_Camera_1',
					focused: this.$store.getters.getFocusByName(
						'SVO_D_Stage3_Place3_Camera_1'
					),
					hovered: this.$store.getters.getHoverByName(
						'SVO_D_Stage3_Place3_Camera_1'
					)
				},
				{
					id: 'tv',
					icon: 'tv',
					name: 'ТВ панели',
					focused:
						this.$store.getters.getFocusByName('SVO_D_Stage3_Place3_TV_1') ||
						this.$store.getters.getFocusByName('SVO_D_Stage3_Place3_TV_2'),
					hovered:
						this.$store.getters.getHoverByName('SVO_D_Stage3_Place3_TV_1') ||
						this.$store.getters.getHoverByName('SVO_D_Stage3_Place3_TV_2'),
					children: [
						{
							id: 'tv1',
							name: 'Телевизионная панель 1',
							meshName: 'SVO_D_Stage3_Place3_TV_1',
							focused: this.$store.getters.getFocusByName(
								'SVO_D_Stage3_Place3_TV_1'
							),
							hovered: this.$store.getters.getHoverByName(
								'SVO_D_Stage3_Place3_TV_1'
							)
						},
						{
							id: 'tv2',
							name: 'Телевизионная панель 2',
							meshName: 'SVO_D_Stage3_Place3_TV_2',
							focused: this.$store.getters.getFocusByName(
								'SVO_D_Stage3_Place3_TV_2'
							),
							hovered: this.$store.getters.getHoverByName(
								'SVO_D_Stage3_Place3_TV_2'
							)
						}
					]
				},
				{
					id: 'info',
					icon: 'infomat',
					name: 'Инфоматы',
					focused:
						this.$store.getters.getFocusByName(
							'SVO_D_Stage3_Place3_Infomat_1'
						) ||
						this.$store.getters.getFocusByName('SVO_D_Stage3_Place3_Infomat_2'),
					hovered:
						this.$store.getters.getHoverByName(
							'SVO_D_Stage3_Place3_Infomat_1'
						) ||
						this.$store.getters.getHoverByName('SVO_D_Stage3_Place3_Infomat_2'),
					children: [
						{
							id: 'info1',
							name: 'Инфомат 1',
							meshName: 'SVO_D_Stage3_Place3_Infomat_1',
							focused: this.$store.getters.getFocusByName(
								'SVO_D_Stage3_Place3_Infomat_1'
							),
							hovered: this.$store.getters.getHoverByName(
								'SVO_D_Stage3_Place3_Infomat_1'
							)
						},
						{
							id: 'info2',
							name: 'Инфомат 2',
							meshName: 'SVO_D_Stage3_Place3_Infomat_2',
							focused: this.$store.getters.getFocusByName(
								'SVO_D_Stage3_Place3_Infomat_2'
							),
							hovered: this.$store.getters.getHoverByName(
								'SVO_D_Stage3_Place3_Infomat_2'
							)
						}
					]
				}
			]
		}
	},
	data() {
		return {
			objTreeCollapsed: false,
			collapsed: {
				tv: false,
				info: false
			}
		}
	},
	methods: {
		selectionHandler(item) {
			if (!item.disabled && !item.children) {
				this.$store.commit('setFocusByName', item.meshName)
				this.$store.commit('setInspector', true)
			}

			if (item.children) this.collapseHandler(item.id)
		},
		setHover(item) {
			if (
				!item.disabled ||
				!item.children ||
				item.name !== 'SVO_D_Stage3_Place3_Camera_1'
			) {
				this.$store.commit('setHoverByName', item.meshName)
			}
		},
		setMouseout(item) {
			if (
				!item.disabled ||
				!item.children ||
				item.name !== 'SVO_D_Stage3_Place3_Camera_1'
			) {
				this.$store.commit('setMouseLeaveByName', item.meshName)
			}
		},
		collapseHandler(id) {
			this.collapsed[id] = !this.collapsed[id]
		}
	}
}
</script>

<style lang="postcss">
  @import "../../assets/styles/variables.css";

  .obj-tree-wrap {
    position: absolute;
    z-index: 100;
    left: 0;
    
    color: var(--color--light);
    top: calc(var(--ms) * 3.5rem);
    bottom: 0;
    width: 17rem;
    padding: 1rem;
    transition: .225s var(--ec--alt);
    transition-property: opacity, transform;

    &.obj-tree-collapsed {
      & .collapse-tree {
        transform: rotate(180deg);
      }
      & .obj-tree,
      & .obj-tree-footer {
        transform: translateX(-17rem);
      }
    }
  }

  .obj-tree-header {
    position: absolute;
    top: 0;
    height: calc( var(--ms) * 2rem );
    left: 0;
    right: 0;
    background-color: var(--color--dark-alt);

    & .collapse-tree {
      background-color: transparent;
      position: absolute;
      color: var(--color--light);
      left: .35rem;
      top: calc( var(--ms) * .25rem );
      width: calc( var(--ms) * 1.5rem );
      height: calc( var(--ms) * 1.5rem );
      border: none;
      font-size: 1.5rem;
      transition: .225s var(--ec--alt);
      transition-property: background-color, transform;
      border-radius: 3px;
      cursor: pointer;
      padding: 0;
      display: inline-flex;
      align-items: center;
      justify-content: center;

      & .icon {
        width: calc( var(--ms) * .9rem );
        height: calc( var(--ms) * .9rem );
        transition: fill .225s var(--ec--alt);
        fill: var(--color--light);
      }

      &:hover {
        background-color: #000.1;

        & .icon {
          fill: var(--color--primary);
        }
      }

      &:active {
        background-color: #000.04;
      }
    }
  }

  .obj-tree {
    position: absolute;
    top: calc( var(--ms) * 2rem );
    left: 0;
    max-height: calc( 100vh - var(--ms) * 10.5rem );
    width: 100%;
    min-width: 100%;
    overflow: hidden;
    padding: calc( var(--ms) * .5rem ) 0;
    background-color: var(--color--dark);
    box-shadow: 0 1px 3px var(--color--dark).15, 0 1px 9px var(--color--dark).15;
    transition: transform .225s var(--ec--alt);
    user-select: none;

    & * {
      user-select: none;
    }
  }

  .obj-tree-content {
    min-width: 100%;
    max-width: 100%;
  }

  .tree-item {
    position: relative;
    cursor: pointer;

    &.focused {
      & h4 {
        background-color: var(--color--primary).25;
        border-color: var(--color--primary);
        color: var(--color--primary);
      }

      & .icon {
        fill: var(--color--primary);
      }

      & .collapse-button {
        color: var(--color--light).75;
      }
    }

    &.hovered h4 {
      background-color: var(--color--primary).125;
    }

    &.has-children h4 {
      padding-right: 3rem;
    }

    &.disabled {
      cursor: not-allowed;
      opacity: .2;
      
      &:hover h4 {
        background-color: transparent;
      }
    }

    & h4 {
      line-height: calc( var(--ms) * 1.75rem );
      padding-left: 3rem;
      font-weight: 200;
      font-size: 1rem;
      white-space: nowrap;
      letter-spacing: .025em;
      border-left: 5px solid transparent;
      transition: .225s var(--ec--alt);
      transition-property: background-color, border-color, color;

      -webkit-font-smoothing: subpixel-antialiased;
      -moz-osx-font-smoothing: auto;

      &:hover, &.hovered {
        background-color: var(--color--primary).125;
      }

      &:active {
        background-color: transparent;
      }

      & .icon {
        fill: var(--color--light);
        width: calc( var(--ms) * 1.5rem );
        height: calc( var(--ms) * 1.5rem );
        position: absolute;
        left: .325rem;
        top: calc( var(--ms) * .125rem );

        transition: fill .225s var(--ec--alt);
      }
    }

    & .collapse-button {
      background-color: transparent;
      border: none;
      padding: 0;
      font-size: 1rem;
      position: absolute;
      right: 1rem;
      top: calc( var(--ms) * .35rem);
      transition: .225s var(--ec--alt);
      transition-property: transform, background-color;
      width: calc( var(--ms) * 1rem);
      height: calc( var(--ms) * 1rem);
      line-height: calc( var(--ms) * .875rem);
      display: inline-flex;
      justify-content: center;
      align-items: center;
      z-index: 10;
      cursor: pointer;
      border-radius: 3px;
      transform: rotate(90deg);

      & .icon-arrow {
        width: calc( var(--ms) * .5rem);
        height: calc( var(--ms) * .5rem);
        fill: var(--color--light);
        transition: fill .225s var(--ec--alt);
      }

      &:hover {
        background-color: #000.1;

        & .icon-arrow {
          fill: var(--color--primary);
        }
      }

      &:active {
        background-color: #000.04;
      }

      & span {
        display: block;
        position: relative;
        line-height: calc( var(--ms) * 1rem);
        top: 1px;
      }
    }

    &.collapsed {
      & .collapse-button {
        transform: rotate(270deg)
      }

      & ul {
        padding: 0;

        & li {
          color: transparent;
          height: 0;
          font-size: 0;
        }
      }
    }

    & ul {
      list-style-type: none;
      padding: 0 0 calc( var(--ms) * .75rem );
      margin: 0;
      transition: padding .3s ease;

      & li {
        line-height: calc( var(--ms) * 1.25rem );
        cursor: pointer;
        transition: .3s ease;
        transition-property: background-color, border-color, color, height, font-size;
        padding-left: 3rem;
        font-size: .75rem;
        opacity: .9;

        &.focused {
          background-color: var(--color--primary).25;
          color: var(--color--primary);
        }

        &:before {
          content: "›";
          opacity: .85;
        }

        &:hover, &.hovered {
          background-color: var(--color--primary).125;
        }
      }
    }
  }

  .obj-tree-footer {
    box-shadow: 0 1px 3px var(--color--dark).15, 0 1px 9px var(--color--dark).15;
    background-color: var(--color--dark);
    position: absolute;
    top: calc( 100% - calc( var(--ms) * 5rem ) );
    bottom: 0;
    left: 0;
    width: 100%;
    color: var(--color--light);
    transition: transform .225s var(--ec--alt);

    & .search-wrap {
      position: relative;
      height: calc( var(--ms) * 2rem );

      &:before, &:after {
        content: "";
        position: absolute;
        display: block;
      }

      &:before {
        width: 100%;
        left: 0;
        height: calc( var(--ms) * .5rem );
        background: linear-gradient(to top, var(--color--dark), var(--color--dark).0 );
        top: calc( var(--ms) * -.5rem );
        z-index: 1;
      }

      &:after {
        top: -1px;
        height: 1px;
        left: .75rem;
        right: .75rem;
        background-color: var(--color--primary);
        z-index: 2;
      }

      & .submit {
        background-color: transparent;
        padding: 0;
        border: none;
        cursor: pointer;
        position: absolute;
        left: 0;
        top: 0;
      }

      & .search-icon {
        width: calc( var(--ms) * 2rem );
        height: calc( var(--ms) * 2rem );
        fill: var(--color--primary);
      }

      & .search-field {
        background-color: transparent;
        padding-left: 3rem;
        line-height: calc( var(--ms) * 2rem );
        width: 100%;
        border: none;
        color: var(--color--light);
        font-family: var(--font-stack);
        font-weight: 200;
        font-size: .875rem;
        letter-spacing: .05em;
      }
    }

    & .logo-wrap {
      position: relative;
      padding-left: 4rem;
      opacity: .35;

      & .svo-logo {
        position: absolute;
        top: calc( var(--ms) * -.25rem );
        left: calc( var(--ms) * -.25rem );
        fill: var(--color--light);
        width: calc( var(--ms) * 3rem );
        height: calc( var(--ms) * 3rem );
      }

      & h1, & h2 {
        margin: 0;
        font-weight: 200;
        user-select: none;
      }

      & h1 {
        font-size: 1.25rem;
        line-height: 1rem;
        padding-top: calc( var(--ms) * .35rem );
        letter-spacing: .025em;
        -webkit-font-smoothing: subpixel-antialiased;
        -moz-osx-font-smoothing: auto;
      }

      & h2 {
        font-size: .875rem;
        letter-spacing: .025em;
      }

      & .year {
        font-size: .75rem;
        letter-spacing: .05em;
      }
    }
  }
</style>
