<template>
  <header class="header">
    <div class="logo-wrap" @click="changeScene">
      <app-logo />
    </div>
    <breadcrumbs />
    <ui-controls />
    <app-nav />
  </header>
</template>

<script>
  import AppLogo from '~/components/layout/AppLogo.vue'
  import UiControls from '~/components/layout/UiControls.vue'
  import Breadcrumbs from '~/components/layout/Breadcrumbs.vue'
  import AppNav from '~/components/layout/AppNav.vue'

  export default {
    components: {
      AppLogo, UiControls, Breadcrumbs, AppNav
    },
    methods: {
      changeScene () {
        this.$store.commit( 'changeScene', 'D/Floor3' )
      }
    }
  }
</script>

<style lang="postcss">
  @import "../../assets/styles/variables.css";

  .header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: calc(var(--ms) * 3.5rem);
    z-index: 100;    

    &:before {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      background-color: var(--color--dark);
      transition: .225s var(--ec--alt);
      transition-property: background-color, border-color, transform;
      border-bottom: 1px solid var(--color--light).25;
    }

    & .logo-wrap {
      height: calc(var(--ms) * 3.5rem);
      cursor: pointer;
    }
  }
</style>
