<template>
  <div class="logo">
    <svg class="app-logo">
      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svo-logo"></use>
    </svg>
    <h1 class="app-title">Шереметьево</h1>
    <h2 class="app-desecription">Международный аэропорт</h2>
  </div>
</template>

<style lang="postcss">
  @import "../../assets/styles/variables.css";

  .logo {
    display: inline-block;
    position: relative;
    padding-left: calc(var(--ms) * 3.5rem);
    height: calc(var(--ms) * 3.5rem);
    overflow: hidden;

    & h1, & h2 {
      margin: 0;
      color: var(--color--light);
      text-transform: uppercase;
      letter-spacing: .025em;
      transition: color .225s var(--ec--alt);
      user-select: none;
    }

    & h1 {
      line-height: calc(var(--ms) * 1rem);
      margin-top: calc(var(--ms) * 1rem);
      font-size: calc(var(--ms) * 1.25rem);
      -webkit-font-smoothing: subpixel-antialiased;
      -moz-osx-font-smoothing: auto;
    }

    & h2 {
      font-size: .75rem;
      font-weight: 200;
      white-space: nowrap;
      line-height: calc(var(--ms) * .75rem);
      text-align: right;
    }
  }

  .app-logo {
    fill: var(--color--light);
    width: calc(var(--ms) * 4rem);
    height: calc(var(--ms) * 4rem);
    position: absolute;
    left: calc(var(--ms) * -.25rem);
    top: calc(var(--ms) * -.25rem);

    transition: fill .225s var(--ec--alt);
  }
</style>
