<template>
  <div class="app-nav">
    <nuxt-link to="/">Объекты</nuxt-link>
    <nuxt-link to="/" class="current">Терминалы</nuxt-link>
    <nuxt-link to="/">Контакты</nuxt-link>

    <svg class="user">
      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-user"></use>
    </svg>
  </div>
</template>

<script>
  export default {
    
  }
</script>

<style scoped lang="postcss">
  @import "../../assets/styles/variables.css";

  .app-nav {
    position: fixed;
    top: calc( var(--ms) * 1.125rem );
    right: 2rem;
    padding-right: calc( var(--ms) * 3rem );;

    & a {
      color: var(--color--light);
      margin: 0 .5rem;
      text-decoration: none;
      border-bottom: 1px solid transparent;
      text-transform: uppercase;
      letter-spacing: .05em;
      line-height: calc( var(--ms) * 1.25rem );
      display: inline-block;
      transition: opacity .225s var(--ec--main);
      user-select: none;

      &:hover {
        opacity: .75;
      }

      &:active {
        opacity: 1;
      }

      &.current {
        color: var(--color--primary);
        border-bottom-color: var(--color--primary);
      }
    }

    & .user {
      position: absolute;
      fill: var(--color--light);
      height: calc( var(--ms) * 1.25rem );
      width: calc( var(--ms) * 2.5rem );
      right: calc( var(--ms) * -.125rem );
      top: 0;
      padding-left: 1rem;
      border-left: 1px solid var(--color--light).25;

      transition: fill .225s var(--ec--main);
      cursor: pointer;

      &:hover {
        fill: var(--color--light).75;
      }

      &:active {
        fill: var(--color--light);
      }
    }
  }
</style>
