<template>
  <div class="breadcrumbs">
    <button
      class="crumb"
      :class="{ current : doesItAirport }"
      @click="gotoAirportScene"
    >
      Аэропорт
    </button>
    <span class="divider" v-if="!doesItAirport">›</span>
    <button
      v-if="!doesItAirport"
      class="crumb"
      :class="{ current : doesItFloor }"
      @click="gotoFloorScene"
    >
      Терминал D, 3 этаж<span v-if="currentScene === 'D/Floor3left' || currentScene === 'D/Floor3/Place3'">, левое </span><span v-if="currentScene === 'D/Floor3'">, правое </span>крыло
    </button>
    <span class="divider" v-if="doesItRoom">›</span>
    <button class="crumb current" v-if="doesItRoom">VIP-зал</button>
  </div>
</template>

<script>
export default {
	computed: {
		currentScene() {
			return this.$store.state.currentScene
		},
		doesItRoom() {
			return this.currentScene === 'D/Floor3/Place3' ? true : false
		},
		doesItFloor() {
			return this.currentScene === 'D/Floor3' ||
				this.currentScene === 'D/Floor3left'
				? true
				: false
		},
		doesItAirport() {
			return this.currentScene === 'Airport' ? true : false
		}
	},
	methods: {
		gotoFloorScene() {
			this.$store.commit('changeScene', 'D/Floor3left')
		},
		gotoAirportScene() {
			this.$store.commit('changeScene', 'Airport')
		}
	}
}
</script>

<style lang="postcss">
  @import "../../assets/styles/variables.css";

  .breadcrumbs {
    color: var(--color--light);
    transition: .225s var(--ec--alt);
    transition-property: transform, opacity;
    padding-left: 18rem;
    padding-top: calc(var(--ms) * .75rem);
    position: fixed;
    left: 0;
    top: calc(var(--ms) * 3.5rem);
    z-index: 25;
    right: 0;
    height: calc(var(--ms) * 2rem);
    background-color: var(--color--dark-alt);
    user-select: none;

    & .divider {
      display: inline-block;
      line-height: calc(var(--ms) * .625rem);
      padding: 0 .5rem;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      font-size: 1.25rem;
      float: left;
      opacity: .5;
      user-select: none;
    }

    & .crumb {
      float: left;
      border-width: 0 0 1px;
      background-color: transparent;
      color: var(--color--light);
      display: inline-block;
      font-size: .75rem;
      border-bottom: 1px solid var(--color--light).5;
      text-decoration: none;
      padding: 0;
      cursor: pointer;
      transition: .225s var(--ec--main);
      transition-property: border-color, color;
      user-select: none;

      &:hover {
        border-color: var(--color--primary).0;
        color: var(--color--primary);
      }

      &.current {
        font-weight: 700;
        border: 0;
        cursor: default;

        &:hover {
          color: var(--color--light);
        }
      }
    }
  }
</style>
