<template>
  <div class="error-msg"><div class="message">{{message}}</div></div>
</template>

<script>
  export default {
    props: {
      message: String
    }
  }
</script>

<style lang="postcss">
  @import "../../assets/styles/variables.css";

  .error-msg {
    height: calc( 100% - var(--ms) * 1.5rem );
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    & .message {
      font-weight: 400;
      margin-top: calc( var(--ms) * -1rem);
      font-size: 1.5rem;
      color: var(--color--danger);
      padding: 0 5rem;
      text-align: center;
    }
  }
</style>