<template>
  <div class="loader">
    <svg>
      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#loader"></use>
    </svg>
    <div class="message">загрузка</div>
  </div>
</template>

<style lang="postcss">
  @import "../../assets/styles/variables.css";

  .loader {
    height: calc( 100% - var(--ms) * 1.5rem );
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    & svg {
      transform-origin: center;
      animation: rotation 1.5s cubic-bezier(0.68, -0.55, 0.265, 1.55) infinite;
      height: calc( var(--ms) * 3rem );
      width: calc( var(--ms) * 3rem );
      fill: var(--color--darken);
      fill-opacity: .8;
      margin-top: calc( var(--ms) * -1.5rem );
      margin-bottom: calc( var(--ms) * .5rem );
    }

    & .message {
      font-weight: 400;
    }
  }

  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  @keyframes float {
    50% {
      transform: translateY(50%);
    }
  }
</style>