<template>
  <div class="ui-controls">
    <!-- <button class="toggle-vr" :class="{ active: vrMode }" @click="toggleVR">
      <svg class="icon">
        <use
          xmlns:xlink="http://www.w3.org/1999/xlink"
          xlink:href="#icon-vr"
        ></use>
      </svg>
    </button> -->
    <button class="toggle-ui" @click="toggleUI">
      <svg class="icon" v-if="showUI">
        <use
          xmlns:xlink="http://www.w3.org/1999/xlink"
          xlink:href="#icon-hide-ui"
        ></use>
      </svg>
      <svg class="icon" v-else>
        <use
          xmlns:xlink="http://www.w3.org/1999/xlink"
          xlink:href="#icon-show-ui"
        ></use>
      </svg>
    </button>
    <button class="camera-settings" @click="toggleCameraSettingsDialog">
      <svg class="icon">
        <use
          xmlns:xlink="http://www.w3.org/1999/xlink"
          xlink:href="#icon-camera-settings"
        ></use>
      </svg>
    </button>
		<button class="toggle-climate-sensors"
			:class="{ active: climateSensorsVisible }"
			@click="toggleSensors"
			v-if="currentScene === 'D/Floor3left'">
			<svg viewBox="0 0 50 50" class="custom-icon" xmlns="http://www.w3.org/2000/svg" >
				<path d="M36.102 19.34c1.694 2.291 2.695 5.125 2.695 8.19 0 7.615-6.182 13.798-13.797 13.798s-13.797-6.183-13.797-13.798c0-3.071 1.005-5.909 2.705-8.203"/>
				<path d="M39.397 16.357c2.449 3.113 3.91 7.039 3.91 11.303 0 10.104-8.203 18.306-18.307 18.306s-18.307-8.202-18.307-18.306c0-4.264 1.461-8.19 3.91-11.303" stroke-opacity=".5"/>
				<path d="M23.121 24.358v-8.001c0-1.037.842-1.879 1.879-1.879s1.879.842 1.879 1.879v8.001c1.16.657 1.943 1.902 1.943 3.329 0 2.109-1.713 3.822-3.822 3.822s-3.822-1.713-3.822-3.822c0-1.427.783-2.672 1.943-3.329z" class="fill"/>
				<path d="M19.212 22.122v-12.301c0-3.194 2.594-5.787 5.788-5.787 3.194 0 5.788 2.593 5.788 5.787v12.301c1.359 1.432 2.193 3.366 2.193 5.493 0 4.405-3.576 7.981-7.981 7.981-4.405 0-7.981-3.576-7.981-7.981 0-2.127.834-4.061 2.193-5.493z" stroke-width="2"/>
			</svg>
    </button>
  </div>
</template>

<script>
import { mapState, mapMutations } from 'vuex'
export default {
	computed: {
		...mapState([
			'vrMode',
			'showUI',
			'hasObjectsToInteract',
			'climateSensorsVisible',
			'currentScene'
		])
	},
	data() {
		return {
			cameraControlsVisible: false
		}
	},
	methods: {
		...mapMutations([
			'toggleVR',
			'toggleUI',
			'toggleCameraSettingsDialog',
			'toggleSensors'
		])
	}
}
</script>

<style lang="postcss">
@import '../../assets/styles/variables.css';

.a-enter-vr-button {
	top: 6.85rem;
	right: -4px;
	width: 3.25rem;
	height: calc( var(--ms) * 1.5rem );
	padding: 0;
}

.ui-controls {
	position: fixed;
	top: calc(var(--ms) * 3.675rem);
	right: 0;
	z-index: 50;
	// padding-right: 5rem;
	padding-right: .5rem;

	& button {
		background-color: transparent;
		border: none;
		padding: 0;
		margin: 0 .25rem;
		cursor: pointer;
		height: calc(var(--ms) * 1.5rem + 2px);
		width: calc(var(--ms) * 1.5rem + 2px);
		border-radius: 50%;
		// border: 1px solid var(--color--light).5;
		transition: border-color .225s var(--ec--alt);
		float: right;

    &.toggle-vr {
      & .icon {
        width: calc( var(--ms) * 1.25rem );
      }

      &.active {
        background-color: var(--color--primary);
        border-color: transparent;

        & .icon {
          fill: var(--color--dark);
        }
      }
    }

		&.camera-settings {
			border-color: transparent;
		}

		&:hover {
			border-color: transparent;

			& .icon {
				fill: var(--color--primary);
			}
		}

		&:active .icon {
			fill: var(--color--light);
		}

		&.toggle-climate-sensors {

			&.active {
				background-color: var(--color--dark);
				border-color: transparent;
			}

			& .custom-icon {
				stroke: var(--color--light);
				fill: none;
				transition: stroke .225s var(--ec--alt);

				& .fill {
					fill: var(--color--light);
					stroke: none;

					transition: fill .225s var(--ec--alt);
				}
			}

			&:hover .custom-icon,
			&.active .custom-icon {
				stroke: var(--color--primary);

				& .fill {
					fill: var(--color--primary);
				}
			}

			&:active .custom-icon {
				stroke: var(--color--light);

				& .fill {
					fill: var(--color--light);
				}
			}
		}
	}

	& .icon {
		height: calc(var(--ms) * 1.5rem);
		width: calc(var(--ms) * 1.5rem);
		fill: var(--color--light);
		transition: fill .225s var(--ec--alt);
	}
}
</style>
