.inspector-wrap {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1100;
  background: radial-gradient(circle at center, rgba(50,50,50,0.5), rgba(0,0,0,0.5));
  display: flex;
  align-items: center;
  justify-content: center;
}