.actions {
  text-align: right;
  padding: calc( var(--ms) * .25rem ) calc( var(--ms) * .5rem );
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: calc( var(--ms) * 2rem );
  display: flex;

  & .action {
    height: calc( var(--ms) * 1.5rem );
    margin: 0 calc( var(--ms) * .25rem );
    color: var(--color--light);
    background-color: var(--color--secondary);
    text-decoration: none;
    border-radius: 3px;
    width: 10rem;
    transition: .3s var(--ec--main);
    letter-spacing: .025em;
    border: none;
    cursor: pointer;
    position: relative;
    overflow: hidden;

    &:hover {
      background-color: color(var(--color--secondary) l(-5%));
    }

    &:active {
      background-color: var(--color--secondary);
      box-shadow: 0 0 0 color(var(--color--secondary) l(-15%));
    }

    & span {
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      text-align: center;
      line-height: calc( var(--ms) * 1.5rem );

      & .icon {
        width: calc( var(--ms) * .75rem );
        height: calc( var(--ms) * .75rem );
        margin-left: calc( var(--ms) * -.5rem );
        position: relative;
        top: calc( var(--ms) * .15rem );
        fill: var(--color--light);
      }
    }
  }
}