.inspector-header {
  height: calc( var(--ms) * 1.5rem );
  border-bottom: 1px solid var(--color--dark).25;
  position: relative;
  background-color: var(--color--light);
  padding-left: 1rem;
  border-radius: 3px 3px 0 0;
  user-select: none;

  & h2 {
    padding-right: 2rem;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    line-height: calc( var(--ms) * 1.5rem );
    font-size: 1.25rem;
  }

  & .close {
    position: absolute;
    background-color: transparent;
    border: none;
    right: 0;
    top: 0;
    padding: 0;
    height: calc( var(--ms) * 1.5rem );
    line-height: calc( var(--ms) * 1.5rem );
    font-size: 2rem;
    width: calc( var(--ms) * 1.5rem );
    display: block;
    cursor: pointer;
    opacity: .625;
    transition: opacity .225s var(--ec--alt);

    & span {
      position: relative;
      top: -1px;
      display: block;
    }

    &:hover {
      opacity: 1;
    }

    &:active {
      opacity: .75;
    }
  }
}

.inspector-wrap.loading header {
  border-bottom-color: transparent;
}