.nav-tabs {
  display: flex;
  list-style: none;
  padding: 0;
  position: relative;
  margin-top: calc( var(--ms) * .5rem );
  margin-right: calc( var(--ms) * .75rem );
  user-select: none;
  font-weight: 300;

  &::before {
    content: "";
    position: absolute;
    height: 1px;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #000.25;
  }

  & li {
    line-height: calc( var(--ms) * 1.25rem );
    padding: 0 .75rem;
    font-size: .875rem;
    white-space: nowrap;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: .25rem .25rem 0 0;
    z-index: 1;
    transition: .3s var(--ec--alt);
    transition-property: border-color, color;

    &.active {
      border-color: #000.25 #000.25 #fff;
      color: var(--color--secondary)
    }
  }
}

.tabs-content {
  position: relative;
  height: calc( var(--ms) * 14.6rem );
  max-height: calc( var(--ms) * 14.6rem );
  max-width: 100%;
  background-color: transparent;
}

.tab {
  display: none;
  padding: calc( var(--ms) * .5rem ) calc( var(--ms) * .5rem ) calc( var(--ms) * .5rem ) 0;
  font-weight: 300;

  &.active {
    display: block;
  }

  & .item {
    display: flex;
    padding: 0 calc( var(--ms) * .5rem );
    font-size: .9rem;
    user-select: none;

    &:nth-child(odd) {
      background-color: var( --color--dark ).05;
    }

    & > * {
      padding: calc( var(--ms) * .125rem ) 0;
    }

    & > .name, & > .value {
      width: 50%;
      flex-shrink: 0;
    }

    & > .value {
      padding-left: .75rem;
      border-left: 1px solid #000.125;
    }

    & .file {
      text-decoration: none;
      display: flex;
      flex-direction: row-reverse;
      background-color: var(--color--primary);
      color: #000.9;
      white-space: nowrap;
      align-items: center;
      padding: calc( var(--ms) * .25rem ) 1rem;
      border-radius: 2px;
      transition: background-color .3s var(--ec--main);

      & .icon {
        font-weight: 500;
      }

      & .file-name {
        overflow: hidden;
        text-overflow: ellipsis;
        font-weight: 400;
      }

      &:hover {
        background-color: color( var(--color--primary) h(+8) );
      }

      &:active {
        background-color: var(--color--primary);
      }
    }
  }
}