<template>
  <div class="scene">
    <object-tree :class="{'switch-off': !hasObjectsToInteract}" />
    <object-filter v-if="hasObjectsToInteract" />
		<inspector
			:loading="!doneLoadingObjects"
			:error="inspectorError"
			:object-mnemonic="selectedItem.mnemonic"
			:object-id="selectedItem.id"
			v-if="inspector"
			@close="setInspector(false)"
			/>
    <notification />
    <!-- <ul v-if="currentScene === 'D/Floor3'" class="floor-legend">
      <li>Кафе</li>
      <li>Аксессуары</li>
      <li>Залы ожидания</li>
      <li>Служебные помещения</li>
    </ul> -->
    <a-scene class="a-scene" antialias="true" vr-mode-ui="enabled: false" ref="aScene">
      <a-assets>
        <a-asset-item
          id="SVO-D-Stage3-Place3-obj"
          src="/meshes/SVO_D_Stage3_Place3.obj"/>
        <a-asset-item
          id="SVO-D-Stage3-Place3-mtl" 
          src="/meshes/SVO_D_Stage3_Place3.mtl"/>

        <a-asset-item id="terminal-obj" src="/meshes/terminalD.obj"/>
        <a-asset-item id="terminal-mtl" src="/meshes/terminalD.mtl"/>
        <a-asset-item id="terminal-left-obj" src="/meshes/D_left_wing.obj"/>
        <a-asset-item id="terminal-left-mtl" src="/meshes/D_left_wing.mtl"/>
        <a-asset-item id="airport-obj" src="/meshes/airport.obj"/>
        <a-asset-item id="airport-mtl" src="/meshes/airport.mtl"/>
      </a-assets>
      <a-entity
        id="camera"
				active="true"
        camera="fov: 50; zoom: 1; far: 5500; near: 0.5"
        ref="camera"
        mouse-cursor
				:orbit-controls="`
					target: 0 0 0;
					enableDamping: ${enableDamping};
					minDistance: ${minDistance};
					maxDistance: ${maxDistance};
					rotateSpeed: ${rotateSpeed * 10};
					minPolarAngle: ${minPolarAngle};
					maxPolarAngle: ${maxPolarAngle};
					zoomSpeed: ${zoomSpeed * 3};
					minAzimuthAngle: 0;
					maxAzimuthAngle: 0;
					dampingFactor: 1;
					initialPosition: 0 5 15`"
      >
        <a-entity raycaster="objects: .cursorable; interval: 100" cursor="rayOrigin: mouse" />
      </a-entity>
			<!-- <a-entity light="color:#BBB; type:ambient" /> -->
			<!-- <a-entity light="intensity:0.4" position="-0.5 1 1" /> -->

      <a-entity>
        <a-entity ref="airportScene">
          <a-entity
            id="airport-walls"
            position="0 0 0"
            obj-model="obj: #airport-obj; mtl: #airport-mtl"
            :airport="`interactable: false; visible: ${airportSceneVisibility}`"
          />
          <a-entity
            id="airport-interactions"
            position="0 0 0"
            obj-model="obj: #airport-obj; mtl: #airport-mtl"
            class="cursorable"
            :airport="`
              interactable: true;
              visible: ${airportSceneVisibility};
              hoverList: ${JSON.stringify(airoportSceneMeshes)}
            `"/>
        </a-entity>

        <a-entity id="terminal"
          v-if="currentScene === 'D/Floor3'"
          position="0 0 0"
          obj-model="obj: #terminal-obj; mtl: #terminal-mtl"
          >
					<a-box
						v-for="(place, index) in places" :key="index"
						color="#F15800"
						opacity="0"
						height="1"
						class="cursorable"

						:position="place.position"
						:rotation="place.rotation"
						:depth="place.depth"
						:width="place.width"
						:show-inspector="place.inspector"
						:hoverable="place.name"
					/>
        </a-entity>

				<a-entity id="left-wing"
					v-if="currentScene === 'D/Floor3left'"
					ref="leftWing"
					position="0 0 0"
          obj-model="obj: #terminal-left-obj; mtl: #terminal-left-mtl"
					>
					<a-cylinder
						v-for="(item, index) in panoramsLeftWing" :key="`streetview-${index}`"
						class="cursorable"
						:position="item.position"
						color="#D5DFFF"
						opacity="0.5"
						height="0.25"
						radius="3.5"
						:sky-img="item.imgName"
						/>

					<a-box
						v-for="(place, index) in leftWingPlaces" :key="`${place.name}-${index}`"
						color="#F15800"
						opacity=".25"
						height="7"
						class="cursorable"

						:position="place.position"
						:rotation="place.rotation"
						:depth="place.depth"
						:width="place.width"
						:show-inspector="place.inspector"
						:hoverable="place.name"
					/>

					<a-entity
						v-if="climateSensorsVisible"
						v-for="sensor in climateSensors"
						:key="`climateSensor-${sensor.id}`"
						:position="`${sensor.data.model.X} ${sensor.data.model.Y} ${sensor.data.model.Z}`"
						>
						<a-box 
							hoverable="Датчик климата"
							:show-inspector="`mnemonic: ClimateSensor; id: ${sensor.id}`"
							class="cursorable"
							opacity="0.5"
							color="#004EFF"/>
						<a-entity
							:text="`
								value: ${sensor.data.model.OperatingTemperature} C;
								align: center;
								color: black;
								width: 60;
								font: ./font/Roboto-msdf.json;
								fontImage: ./font/Roboto-msdf.png
							`"
							position="0 5 0"/>
					</a-entity>
      	</a-entity>

				<a-entity v-if="currentScene === 'VR_MODE'">
					<!-- <a-sphere
						v-for="(item, index) in panoramsLeftWing" :key="`vr${index}`"
						color="#f15800"
            radius="5"
						class="cursorable"
						opacity="0.25"

						:position="item.position"
            :rotation="item.rotation"
						:sky-img="item.imgName"
					/> -->
				</a-entity>
        <a-entity ref="room">
          <a-entity
            id="SVO-D-Stage3-Place3"
            obj-model="obj: #SVO-D-Stage3-Place3-obj; mtl: #SVO-D-Stage3-Place3-mtl"
            ref="walls"
            :room="`
              interactable: false;
              visibilityList: ${JSON.stringify(getVisibilityList)};
              focusList: ${JSON.stringify(getFocusList)};
              hoverList: ${JSON.stringify(getHoverList)};
            `"
          />
          <a-entity
            id="SVO-D-Stage3-Place3-items"
            class="cursorable"
            :room="`
              interactable: true;
              visibilityList: ${JSON.stringify(getVisibilityList)};
              focusList: ${JSON.stringify(getFocusList)};
              hoverList: ${JSON.stringify(getHoverList)};
            `"
            ref="inractionObjects"
            obj-model="obj: #SVO-D-Stage3-Place3-obj; mtl: #SVO-D-Stage3-Place3-mtl"
          />
        </a-entity>
      </a-entity>
      <a-sky :color="skyColor" :src="panSrc" />
    </a-scene>
  </div>
</template>

<script>
import 'aframe'
// import '~/assets/js/aframe-v0.8.2.js'

// a-frame components
// import '~/assets/js/orbit-controls-fork'
import 'aframe-mouse-cursor-component'
import 'aframe-orbit-controls'

import Inspector from '~/components/widgets/Inspector.vue'
import ObjectFilter from '~/components/widgets/ObjectFilter.vue'
import ObjectTree from '~/components/widgets/ObjectTree.vue'
import Notification from '~/components/widgets/Notification.vue'

// lodash
import _filter from 'lodash/filter'
import _some from 'lodash/some'
import _find from 'lodash/find'
import _forEach from 'lodash/forEach'
import _debounce from 'lodash/debounce'

// gsap
import TweenMax from 'gsap/TweenMax'

import { mapState, mapGetters, mapMutations } from 'vuex'

import axios from 'axios'

export default {
	components: {
		Inspector,
		ObjectTree,
		ObjectFilter,
		Notification
	},
	watch: {
		currentScene: {
			handler: function(val, oldVal) {
				this.$store.commit('setPrevScene', oldVal)
				// Обновить настройки камеры
				this.setCamera()

				// Аэропорт
				this.airportSceneVisibility = val === 'Airport' ? true : false

				// Комната
				this.changeRoomVisibility(
					this.currentScene !== 'D/Floor3/Place3' ? false : true
				)

				this.$store.commit(
					'setInteractionState',
					val === 'D/Floor3/Place3' ? true : false
				)
				// закрыть инспектор если перешли в помещение
				if (
					val === 'D/Floor3/Place3' &&
					(oldVal === 'D/Floor3' || oldVal === 'D/Floor3left')
				) {
					this.setInspector(false)
				}

				// если сцена не 360°
				if (val !== 'VR_MODE') {
					this.$store.commit('setPanSrc', '')
					this.$store.commit('setSkyColor', '#232833')
				}
			},
			immediate: true
		},
		getFocusList() {
			this.objectsHandler()
		},
		vrMode() {
			this.setVRMode()
		},
		hasTexture: {
			handler(val, oldVal) {
				if (this.$refs.leftWing) {
					const leftWing = this.$refs.leftWing.components['obj-model']
					let leftWingMesh = _find(
						leftWing.model.children,
						item => item.name === 'Line006'
					)
					const materials = leftWing.objLoader.materials.materials

					const withTexture = materials.lightmap
					const withoutTexture = materials.lightmap2

					// console.log({
					// 	leftWing,
					// 	leftWingMesh,
					// 	materials,
					// 	withTexture,
					// 	withoutTexture
					// })
					leftWingMesh.material = val ? withTexture : withoutTexture
				}
			},
			immediate: true
		}
	},
	data() {
		return {
			airportSceneVisibility: true,
			inspectorError: '',
			objectsLoading: false,
			doneLoadingObjects: false,
			selectedItem: null,
			places: [
				{
					name: 'VIP-зал',
					inspector: 'mnemonic: AdministrativeSpace; id: 1',
					position: '14.5 3.5 21',
					depth: '13.5',
					width: '16.5',
					rotation: '0 0 0'
				},
				{
					name: 'Кафе «Старбакс»',
					inspector: 'mnemonic: ServicesSpace; id: 3',
					position: '-86.125 0.5 8.365',
					depth: '9',
					width: '4.5',
					rotation: '0 0 0'
				},
				{
					name: 'Медицинский пункт №1',
					inspector: 'mnemonic: SocialSpace; id: 4',
					position: '-61.74 0.5 9.877',
					depth: '6.75',
					width: '4.5',
					rotation: '0 0 0'
				},
				{
					name: 'Паспортный контроль',
					inspector: 'mnemonic: AdministrativeSpace; id:2',
					position: '57.449 0.5 -7.272',
					depth: '21.5',
					width: '6',
					rotation: '0 -3.25 0'
				}
			],
			leftWingPlaces: [
				{
					name: 'VIP-зал',
					inspector: 'mnemonic: AdministrativeSpace; id: 1',
					position: '147.953 3.5 -60.971',
					depth: '10',
					width: '25',
					rotation: '0 45 0'
				},
				{
					name: 'Магазин украшений “Swarovski”',
					inspector: 'mnemonic: ServicesSpace; id: 10',
					position: '-117.552 3.5 -3.084',
					depth: '5',
					width: '5',
					rotation: '0 6 0'
				},
				{
					name: 'Duty free',
					inspector: 'mnemonic: ServicesSpace; id: 3',
					position: '-11.110 3.5 -15.340',
					depth: '10.5',
					width: '44.5',
					rotation: '0 9 0'
				},
				{
					name: 'Паспортный контроль',
					inspector: 'mnemonic: AdministrativeSpace; id:2',
					position: '85.238 3.5 -33.621',
					depth: '17.5',
					width: '10',
					rotation: '0 -64.8 0'
				}
			],
			panoramsLeftWing: [
				{
					position: '67.661 3 -26.250',
					rotation: '0 -6 0',
					imgName: 'pic3'
					// path: 'https://goo.gl/maps/finSYnE1WHA2'
				},
				{
					position: '116.995 3 -41.556',
					rotation: '0 -6 0',
					imgName: 'pic1'
					// path: 'https://goo.gl/maps/DrVcowdBtJN2'
				},
				{
					position: '137.221 3 -77.121',
					rotation: '0 -9 0',
					imgName: 'pic2'
					// path: 'https://goo.gl/maps/vvjmNSrLDut'
				}
			]
		}
	},
	computed: {
		...mapState([
			'invertZoom',
			'zoomSpeed',
			'rotateSpeed',
			'minDistance',
			'maxDistance',
			'maxPolarAngle',
			'minPolarAngle',
			'hasObjectsToInteract',
			'inspector',
			'currentScene',
			'airoportSceneMeshes',
			'vrMode',
			'panView',
			'panSrc',
			'skyColor',
			'prevScene',
			'serverData',
			'climateSensorsVisible',
			'enableDamping',
			'hasTexture'
		]),
		...mapGetters([
			'getVisibilityList',
			'getFocusList',
			'getHoverList',
			'climateSensors'
		])
	},
	methods: {
		...mapMutations([
			'setNotificationContent',
			'showNotification',
			'hideNotification',
			'setMaxPolarAngle',
			'setMinPolarAngle',
			'setMinDistance',
			'setMaxDistance',
			'changeRoomVisibility',
			'addRoomObject',
			'addAirportSceneItem',
			'setAirportSceneItemHover',
			'setAirportSceneItemLeave',
			'addShallowObject',
			'extendObjectData'
		]),
		setVRMode() {
			const scene = this.$refs.aScene
			const vrCam = this.$refs.vrCam
			const orbitCam = this.$refs.camera

			if (scene) {
				if (scene.hasLoaded) {
					if (this.vrMode) {
						orbitCam.setAttribute('camera', 'active', false)
						vrCam.setAttribute('camera', 'active', true)
						scene.enterVR()
					} else {
						vrCam.setAttribute('camera', 'active', false)
						orbitCam.setAttribute('camera', 'active', true)
						scene.exitVR()
					}
				} else {
					this.vrMode
						? scene.addEventListener('loaded', scene.enterVR)
						: scene.addEventListener('loaded', scene.exitVR)
				}
			}
		},
		setCamera() {
			let maxPolarAngle = 90
			let minPolarAngle = 20
			let minDistance = 100
			let maxDistance = 150

			if (this.currentScene === 'D/Floor3/Place3') {
				maxPolarAngle = 105
				minDistance = 10
				maxDistance = 50
			}

			if (this.currentScene === 'D/Floor3left') {
				// maxPolarAngle = 80
				minDistance = 30
				maxDistance = 300
			}

			if (this.currentScene === 'VR_MODE') {
				maxPolarAngle = 180
				minPolarAngle = 0
			}

			this.setMaxPolarAngle(maxPolarAngle)
			this.setMinPolarAngle(minPolarAngle)
			this.setMinDistance(minDistance)
			this.setMaxDistance(maxDistance)
		},
		flipCursors(first, second) {
			document.querySelector('.a-canvas').classList.remove(`a-${first}-cursor`)
			document.querySelector('.a-canvas').classList.add(`a-${second}-cursor`)
		},
		getMeshColorByType(type) {
			switch (type) {
				case 'Infomat':
					return 0x0076cc
				case 'TV':
					return 0x161616
				case 'Warm':
					return 0xfd7900
				case 'Electro':
					return 0xfd0075
				case 'Fire':
					return 0xff0000
				case 'Ventilation':
					return 0xcccccc
				case 'Camera':
					break
				default:
					break
			}
		},
		getMeshType(name) {
			return name.substring(
				name.lastIndexOf('_', name.lastIndexOf('_') - 1) + 1,
				name.lastIndexOf('_')
			)
		},
		animateMaterialColor(target, options) {
			const name = target.name
			const type = this.getMeshType(name)

			let targetColor = null
			const meshTypeColor = new THREE.Color(this.getMeshColorByType(type))
			const hoverColor = new THREE.Color(0xf15800)

			if (type === 'Camera') {
				// console.log( 'Camera: ', target )
			} else {
				targetColor = new THREE.Color(target.material.color.getHex())
				TweenMax.to(targetColor, 1, {
					r: options.hovered ? hoverColor.r : meshTypeColor.r,
					g: options.hovered ? hoverColor.g : meshTypeColor.g,
					b: options.hovered ? hoverColor.b : meshTypeColor.b,
					onUpdate: function() {
						target.material.color = targetColor
					},
					ease: Expo.easeOut
				})
			}
		},
		animateBoxColor(material, color) {
			const aColor = new THREE.Color(color)
			TweenMax.to(material.color, 0.75, {
				r: aColor.r,
				g: aColor.g,
				b: aColor.b,
				ease: Power4.easeOut
			})
		},
		animateOpacity(opacity, toNum) {
			TweenMax.to(opacity, 0.75, {
				value: toNum,
				ease: Expo.easeOut
			})
		},
		setMaterialColor(obj) {
			const name = obj.name
			const color = obj.material.color
			const type = name.substring(
				name.lastIndexOf('_', name.lastIndexOf('_') - 1) + 1,
				name.lastIndexOf('_')
			)

			if (type === 'Camera') {
				console.log('Camera: ', obj)
			} else {
				color.setHex(0xf15800)
			}
		},
		resetColor(meshesList, except) {
			const obj = except || null
			meshesList.forEach(item => {
				const type = this.getMeshType(item.name)

				const color = item.material.color

				if (item !== obj) {
					switch (type) {
						case 'Infomat':
							color.setHex(0x0076cc)
							break
						case 'TV':
							color.setHex(0x161616)
							break
						case 'Warm':
							color.setHex(0xfd7900)
							break
						case 'Electro':
							color.setHex(0xfd0075)
							break
						case 'Fire':
							color.setHex(0xff0000)
							break
						case 'Ventilation':
							color.setHex(0xcccccc)
							break
						case 'Camera':
							break
						default:
							break
					}
				}
			})
		},
		objectsHandler() {
			console.log('objectsHandler: object has changed')
		},
		async getIninialData() {
			if (!this.doneLoadingObjects) {
				try {
					let { data } = await axios.get('http://svo-api.pba.su/api/model/list')

					_forEach(data, (object, key) => {
						_forEach(object, (array, cat) => {
							_forEach(array, item => {
								const obj = {
									category: cat,
									id: item.ID,
									imageUrl: item.ImageUrl,
									mnemonic: item.Mnemonic,
									data: {}
								}
								this.addShallowObject(obj)
							})
						})
					})

					await _forEach(this.serverData, item => {
						this.fetchObjectData(item.mnemonic, item.id)
					})

					this.doneLoadingObjects = true

					// console.log('Первоначальные данные', data)
				} catch (error) {
					console.error(error)
					this.inspectorError = `Ошибка загрузки данных: ${error}`
				}
			}
		},
		async fetchObjectData(mnemonic, id) {
			try {
				let { data } = await axios.get(
					`http://svo-api.pba.su/api/model/${mnemonic}/${id}`
				)
				this.extendObjectData({ mnemonic, id, data })
			} catch (error) {
				console.error(error)
				this.inspectorError = `Ошибка загрузки данных: ${error}`
			}
		},
		filterClimateSensors() {},
		enterVRHandler() {
			// console.log('я в другой реальности')
			this.$store.commit('changeScene', 'VR_MODE')
			this.$store.commit('setPanSrc', '/360/6.jpg')
			this.$store.commit('setSkyColor', '#ffffff')
		},
		exitVRHandler() {
			this.$store.commit('changeScene', this.prevScene)
			this.$store.commit('setPanSrc', '')
			this.$store.commit('setSkyColor', '#232833')
		},
		setInspector(bool) {
			this.$store.commit('setInspector', bool)
		}
	},
	mounted() {
		this.setCamera()
		this.getIninialData()

		const leftWingTexture = new THREE.TextureLoader().load(
			'meshes/lightmap.jpg'
		)

		document.querySelector('a-scene').renderer.setTexture2D(leftWingTexture, 0)

		document
			.querySelector('a-scene')
			.addEventListener('enter-vr', this.enterVRHandler)
		document
			.querySelector('a-scene')
			.addEventListener('exit-vr', this.exitVRHandler)

		// Если винда, то инвертировать zoom
		if (navigator.userAgent.match(/Windows/i))
			this.$store.commit('setZoomInvert', true)

		const store = this.$store
		const vm = this

		if (!AFRAME.components['airport']) {
			AFRAME.registerComponent('airport', {
				schema: {
					interactable: { type: 'boolean' },
					visible: { type: 'boolean' },
					hoverList: { type: 'string' }
				},
				dependencies: ['raycaster'],
				multiple: false,
				meshesHandler(meshes, init, data) {
					const nonintractableList = [
						'Shape001',
						'Plane002',
						'Box003',
						'Line002',
						'Line003',
						'SVO_D',
						'plane1',
						'plane002',
						'plane003',
						'plane004',
						'plane005',
						'plane006',
						'plane007',
						'plane008',
						'plane009',
						'plane010'
					]
					const intractableList = [
						'SVO_F',
						'SVO_E',
						'SVO_D_Stage4',
						'SVO_D_Stage3',
						'SVO_D_Stage3_left',
						'SVO_D_Stage2',
						'SVO_D_Stage1'
					]
					const hide = item => {
						item.visible = false
					}
					const show = item => {
						item.visible = true
					}

					const getProperName = meshName => {
						switch (meshName) {
							case 'SVO_F':
								return 'Терминал F'
							case 'SVO_E':
								return 'Терминал E'
							case 'SVO_D_Stage4':
								return 'Терминал D, 4 этаж'
							case 'SVO_D_Stage3':
								return 'Терминал D, 3 этаж, правое крыло'
							case 'SVO_D_Stage3_left':
								return 'Терминал D, 3 этаж, левое крыло'
							case 'SVO_D_Stage2':
								return 'Терминал D, 2 этаж'
							case 'SVO_D_Stage1':
								return 'Терминал D, 1 этаж'
							default:
								return ' '
						}
					}

					const getColorByMeshName = meshName => {
						switch (meshName) {
							case 'SVO_E' || 'SVO_E' || 'SVO_D_Stage4':
								return 0xd0d0e7
							case 'SVO_D_Stage3' || 'SVO_D_Stage3_left':
								return 0xbdbdd1
							case 'SVO_D_Stage2':
								return 0xa2a2b4
							case 'SVO_D_Stage1':
								return 0x868695
							default:
								return ''
						}
					}

					const hoverHandler = hoverList => {
						const hoveredEl = hoverList.find(item => item.hovered === true)
						const outList = hoverList.filter(item => item.hovered !== true)
						const meshOutList = _filter(meshes, item =>
							_some(outList, el => el.name === item.name)
						)

						if (hoveredEl) {
							const mesh = meshes.find(item => item.name === hoveredEl.name)

							vm.animateBoxColor(mesh.material, 0xf15800)
							vm.setNotificationContent(getProperName(mesh.name))
							vm.showNotification()

							meshOutList.forEach(item => {
								vm.animateBoxColor(item.material, getColorByMeshName(item.name))
							})
						} else {
							vm.hideNotification()
							vm.setNotificationContent(' ')

							meshOutList.forEach(item => {
								vm.animateBoxColor(item.material, getColorByMeshName(item.name))
							})
						}
					}

					const intractableMeshes = _filter(meshes, item =>
						_some(intractableList, element => element === item.name)
					)
					const nonintractableMeshes = _filter(meshes, item =>
						_some(nonintractableList, element => element === item.name)
					)

					data.interactable
						? _forEach(intractableMeshes, data.visible ? show : hide)
						: _forEach(nonintractableMeshes, data.visible ? show : hide)

					if (data.interactable) hoverHandler(JSON.parse(data.hoverList))

					if (init) {
						if (data.interactable) {
							_forEach(intractableList, item => {
								vm.addAirportSceneItem({ name: item, hovered: false })
							})

							// скрываем неинтерактивные элементы
							_forEach(nonintractableMeshes, hide)
						} else {
							// скрываем интерактивные элементы
							_forEach(intractableMeshes, hide)
						}
					}
				},
				intersectionHandler(e, intersection) {
					const target = e.detail.intersection.object

					vm.flipCursors('grab', 'pointer')
					vm.setAirportSceneItemHover(target.name)
				},
				leaveHandler(e) {
					const target = e.detail.intersection.object

					vm.flipCursors('pointer', 'grab')
					vm.setAirportSceneItemLeave(target.name)
				},
				clickHandler(e) {
					const target = e.detail.intersection.object
					if (target.name === 'SVO_D_Stage3')
						store.commit('changeScene', 'D/Floor3')

					if (target.name === 'SVO_D_Stage3_left')
						store.commit('changeScene', 'D/Floor3left')
					// console.log('сцена с левым крылом')
				},
				init() {
					const el = this.el
					const data = this.data
					const clickHandler = this.clickHandler
					const intersectionHandler = this.intersectionHandler
					const leaveHandler = this.leaveHandler
					const meshesHandler = this.meshesHandler

					el.addEventListener('model-loaded', function() {
						console.log('Аэропорт загружен')
						const meshes = el.components['obj-model'].model.children

						meshesHandler(meshes, true, data)

						if (data.interactable) {
							el.addEventListener('click', clickHandler)
							el.addEventListener('mouseenter', intersectionHandler)
							el.addEventListener('mouseleave', leaveHandler)
						}
					})
				},
				update() {
					if (this.el.components['obj-model'].model) {
						const meshes = this.el.components['obj-model'].model.children

						this.meshesHandler(meshes, false, this.data)
					}
				},
				remove() {
					if (this.data.interactable) {
						this.el.removeEventListener('click', this.clickHandler)
						this.el.removeEventListener('mouseenter', this.intersectionHandler)
						this.el.removeEventListener('mouseleave', this.leaveHandler)
					}
				}
			})
		}

		if (!AFRAME.components['room']) {
			AFRAME.registerComponent('room', {
				schema: {
					interactable: { type: 'boolean' },
					visibilityList: { type: 'string' },
					focusList: { type: 'string' },
					hoverList: { type: 'string' }
				},
				dependencies: ['raycaster'],
				meshesHandler(
					el,
					namespace,
					init,
					interactability,
					visibilityList,
					focusList,
					hoverList
				) {
					const meshes = el.components['obj-model'].model.children

					// функции для фильтров
					const interactableMeshes = item =>
						item.name.slice(0, -2) === `${namespace}_Fire` ||
						item.name.slice(0, -2) === `${namespace}_Ventilation` ||
						item.name.slice(0, -2) === `${namespace}_Camera` ||
						item.name.slice(0, -2) === `${namespace}_Electro` ||
						item.name.slice(0, -2) === `${namespace}_Warm` ||
						item.name.slice(0, -2) === `${namespace}_TV` ||
						item.name.slice(0, -2) === `${namespace}_Infomat`
					const staticMeshes = item =>
						item.name === `${namespace}` ||
						item.name.slice(0, -2) === `${namespace}_Chairs`

					// функции для скрытия/отображения
					const hide = item => {
						item.visible = false
					}
					const visibilityHandler = (visibilityList, meshesList) => {
						// изменить видимость мешей
						meshesList.forEach(item => {
							const el = visibilityList.find(el => el.name === item.name)
							// если есть элемент списка, то применить значение
							if (el) item.visible = el.visible
						})
					}

					const hoverHandler = (hoverList, meshesList) => {
						const hoveredEl = hoverList.find(item => item.hovered === true)
						const outList = hoverList.filter(item => item.hovered !== true)
						const meshOutList = _filter(meshesList, item =>
							_some(outList, el => el.name === item.name)
						)

						if (hoveredEl) {
							const mesh = meshesList.find(item => item.name === hoveredEl.name)

							vm.animateMaterialColor(mesh, { hovered: true })

							meshOutList.forEach(item => {
								vm.animateMaterialColor(item, { hovered: false })
							})
						} else
							meshOutList.forEach(item => {
								vm.animateMaterialColor(item, { hovered: false })
							})
					}

					const focusHandler = (focusList, meshesList) => {
						const focusedEl = focusList.find(item => item.focused === true)

						if (focusedEl) {
							const mesh = meshesList.find(item => item.name === focusedEl.name)

							vm.setMaterialColor(mesh)
							vm.resetColor(meshesList, mesh)

							if (!vm.objectsLoading) {
								const focusedObj = _find(vm.serverData, item => {
									let modelName = item.data.model
										? item.data.model.ModelName
										: null
									if (typeof modelName === 'string')
										modelName = modelName.trim()
									return modelName === focusedEl.name
								})

								if (focusedObj) {
									vm.selectedItem = {
										mnemonic: focusedObj.mnemonic,
										id: focusedObj.id
									}
								}
							}
						}
					}

					// добавление меша в хранилище и во внутренний ( vue.mounted scope ) список ссылок
					const addMeshToStore = item => {
						let obj = {
							name: item.name,
							interactable: interactability,
							meshState: { visible: false }
						}

						if (obj.interactable) {
							obj.meshState = {
								visible: false,
								focused: false,
								hovered: false
							}
						}

						vm.addRoomObject(obj)
					}

					if (init) {
						// скрываем ненужные
						interactability
							? meshes.filter(staticMeshes).forEach(hide)
							: meshes.filter(interactableMeshes).forEach(hide)

						// записываем в store
						interactability
							? meshes.filter(interactableMeshes).forEach(addMeshToStore)
							: meshes.filter(staticMeshes).forEach(addMeshToStore)
					}

					if (interactability) {
						visibilityHandler(
							JSON.parse(visibilityList),
							meshes.filter(interactableMeshes)
						)
						focusHandler(
							JSON.parse(focusList),
							meshes.filter(interactableMeshes)
						)
						hoverHandler(
							JSON.parse(hoverList),
							meshes.filter(interactableMeshes)
						)
					} else {
						visibilityHandler(
							JSON.parse(visibilityList),
							meshes.filter(staticMeshes)
						)
					}
				},
				clickHandler(e) {
					const target = e.detail.intersection.object

					vm.setInspector(true)
					store.commit('setFocusByName', target.name)
				},
				intersectionHandler(e) {
					const target = e.detail.intersection.object

					store.commit('setHoverByName', target.name)
					vm.flipCursors('grab', 'pointer')
				},
				leaveHandler(e) {
					const target = e.detail.intersection.object

					store.commit('setMouseLeaveByName', target.name)
					vm.flipCursors('pointer', 'grab')
				},
				init() {
					const el = this.el
					const data = this.data
					const meshesHandler = this.meshesHandler

					el.addEventListener('model-loaded', function() {
						// проверяем можно ли взаимодействовать с mesh'ами
						const init = true
						meshesHandler(
							el,
							'SVO_D_Stage3_Place3',
							init,
							data.interactable,
							data.visibilityList,
							data.focusList,
							data.hoverList
						)
					})

					if (data.interactable) {
						el.addEventListener('click', this.clickHandler)
						el.addEventListener(
							'raycaster-intersected',
							this.intersectionHandler
						)
						el.addEventListener('mouseleave', this.leaveHandler)
					}
				},
				update(oldData) {
					const meshesHandler = this.meshesHandler
					const data = this.data
					const el = this.el

					if (el.components['obj-model'].model) {
						meshesHandler(
							el,
							'SVO_D_Stage3_Place3',
							false,
							data.interactable,
							data.visibilityList,
							data.focusList,
							data.hoverList
						)
					}
				},
				remove() {
					if (this.data.interactable) {
						this.el.removeEventListener('click', this.clickHandler)
						this.el.removeEventListener(
							'raycaster-intersected',
							this.intersectionHandler
						)
						this.el.removeEventListener('mouseleave', this.leaveHandler)
					}
				}
			})
		}

		if (!AFRAME.components['hoverable']) {
			AFRAME.registerComponent('hoverable', {
				dependencies: ['raycaster'],
				schema: {
					type: 'string',
					default: ''
				},
				multiple: false,
				intersectionHandler(e) {
					// const material = e.detail.target.object3D.children[0].material
					const content = e.target.components['hoverable'].data
					const opacity = _find(
						e.detail.target.attributes,
						item => item.name === 'opacity'
					)

					vm.flipCursors('grab', 'pointer')
					vm.animateOpacity(opacity, 0.75)
					vm.setNotificationContent(content)
					vm.showNotification()
				},
				leaveHandler(e) {
					const opacity = _find(
						e.detail.target.attributes,
						item => item.name === 'opacity'
					)
					vm.flipCursors('pointer', 'grab')
					vm.animateOpacity(opacity, 0.25)
					vm.hideNotification()
					vm.setNotificationContent(' ')
				},
				init() {
					this.el.addEventListener('mouseenter', this.intersectionHandler)
					this.el.addEventListener('mouseleave', this.leaveHandler)
				},
				remove() {
					this.el.removeEventListener('mouseenter', this.intersectionHandler)
					this.el.removeEventListener('mouseleave', this.leaveHandler)
				}
			})
		}

		if (!AFRAME.components['sky-img']) {
			AFRAME.registerComponent('sky-img', {
				schema: { type: 'string' },
				dependencies: ['raycaster'],
				multiple: false,
				init() {
					this.el.addEventListener('click', this.clickHandler)
					this.el.addEventListener('mouseenter', this.intersectionHandler)
					this.el.addEventListener('mouseleave', this.leaveHandler)
				},
				remove() {
					this.el.removeEventListener('click', this.clickHandler)
					this.el.removeEventListener('mouseenter', this.intersectionHandler)
					this.el.removeEventListener('mouseleave', this.leaveHandler)
				},
				clickHandler(e) {
					// // переход в VRMODE и замена текстуры
					const imgName = e.target.components['sky-img'].data

					document.querySelector('a-scene').enterVR()

					store.commit('changeScene', 'VR_MODE')
					store.commit('setPanSrc', `/360/${imgName}.jpg`)
					store.commit('setSkyColor', '#ffffff')

					// переписываем для сдачи
					// const url = e.target.components['sky-img'].data
					// window.location = url
					// const tab = window.open(url, '_blank')
					// tab.focus()
				},
				intersectionHandler(e) {
					const opacity = _find(
						e.detail.target.attributes,
						item => item.name === 'opacity'
					)

					vm.flipCursors('grab', 'pointer')
					vm.animateOpacity(opacity, 0.75)
				},
				leaveHandler(e) {
					const opacity = _find(
						e.detail.target.attributes,
						item => item.name === 'opacity'
					)
					vm.flipCursors('pointer', 'grab')
					vm.animateOpacity(opacity, 0.25)
				}
			})
		}

		if (!AFRAME.components['show-inspector']) {
			AFRAME.registerComponent('show-inspector', {
				schema: {
					mnemonic: { type: 'string' },
					id: { type: 'number' }
				},
				multiple: false,
				showInspectorHandler(e) {
					const data = e.target.components['show-inspector'].data
					vm.selectedItem = {
						mnemonic: data.mnemonic,
						id: data.id
					}

					vm.setInspector(true)
				},
				dependencies: ['raycaster'],
				play() {
					this.el.addEventListener('click', this.showInspectorHandler)
				},
				remove() {
					this.el.removeEventListener('click', this.showInspectorHandler)
				}
			})
		}
	},
	updated() {},
	beforeDestroyed() {
		// тут убираем прослушивание событий, которые объявляли на предыдущих этапах жизненного цикла компонента
		document
			.querySelector('a-scene')
			.removeEventListener('enter-vr', this.enterVRHandler)
		document
			.querySelector('a-scene')
			.removeEventListener('exit-vr', this.exitVRHandler)
	}
}
</script>

<style lang="postcss">
@import '../assets/styles/vendor/vue2-scrollbar.css';
@import '../assets/styles/variables.css';

.scene {
	position: relative;
	width: 100vw;
	height: 100vh;
}

.a-pointer-cursor {
	cursor: pointer;
}

.floor-legend {
	position: fixed;

	bottom: calc(var(--ms) * 1rem);
	right: calc(var(--ms) * 1rem);

	background-color: var(--color--dark-alt);
	z-index: 1;
	list-style: none;
	padding: calc(var(--ms) * .5rem) calc(var(--ms) * .75rem);
	border-radius: 3px;
	box-shadow: 0 3px 9px #000.15, 0 3px 27px #000.15;

	& li {
		font-size: 0.875rem;
		color: var(--color--light).8;
		line-height: calc(var(--ms) * 1.125rem);

		&::before {
			content: '';
			background-color: var(--color--light);
			width: .75rem;
			height: .75rem;
			border-radius: 50%;
			display: inline-block;
			margin-right: .5rem;
			position: relative;
			top: 1px;
		}

		&:nth-child(1)::before {
			background-color: #f00;
		}
		&:nth-child(2)::before {
			background-color: #ff0;
		}
		&:nth-child(3)::before {
			background-color: #0071bc;
		}
		&:nth-child(4)::before {
			background-color: #0f0;
		}
	}
}
</style>
