:root {
  --text-color: #000;
  --text-color-light: #fff;
  --ms: 1.5;
  /* --font-stack: 'Gilroy', Helvetica, Verdana, sans-serif; */
  --font-stack: 'Roboto', Helvetica, Verdana, sans-serif;
  --font-size--base: 16px;

  --max-phone-width: 736px;
  --phablet-minwidth-potrait: 375px;
  --screen-width-xs-landscape: 480px;
  --screen-width-sm: 768px;
  --screen-width-sm-landscape: 1024px;
  --screen-width-md: 992px;
  --screen-width-lg: 1200px;
  --screen-width-xl: 1366px;
  --screen-width-xxl: 1920px;
  
  --color--light: #fff;
  --color--dark: #313844;
  --color--dark-alt: #384156;
  --color--primary: #F9A02B;
  --color--secondary: #0071BC;
  --color--danger: tomato;

  --ec--main: cubic-bezier(.6,0,.4,1);
  --ec--alt: cubic-bezier(.535,0,0,1);
  --ease-out-quint: cubic-bezier(.23,1,.32,1);
  }