<template>
  <div class="svo-app" :class="{ 'hide-ui': !visibleUI }">
    <icons />
    <app-header />
    <camera-controls />
    <nuxt />
  </div>
</template>

<script>
import AppHeader from '~/components/layout/AppHeader.vue'
import Icons from '~/components/layout/Icons.vue'
import CameraControls from '~/components/widgets/CameraControls.vue'

export default {
  components: {
    AppHeader, Icons, CameraControls
  },
  computed: {
    visibleUI () {
      return this.$store.state.showUI
    }
  }
}
</script>

<style lang="postcss">
  @import "../assets/styles/variables.css";
  @import "../assets/styles/mixins.css";

  html, body {
    font: var(--font-size--base) var(--font-stack);
    font-weight: 200;

    position: relative;

    overflow-x: hidden;

    box-sizing: border-box;
    width: 100%;
    padding: 0 !important;

    word-spacing: 1px;

    color: var(--text-color);

    -webkit-font-smoothing: subpixel-antialiased; // шрифт жирнее, хорошо для тонких шрифтов
    -moz-osx-font-smoothing: auto; // шрифт жирнее, хорошо для тонких шрифтов
    -webkit-text-size-adjust: 100%;
        -ms-text-size-adjust: 100%;
    }

  *, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    }

  :focus {
    outline: none;
  }

  strong, h1, h2, h3, h4, h5, h6 {
    font-weight: 700;

    // -webkit-font-smoothing: antialiased;
    // -moz-osx-font-smoothing: grayscale;
    }

  .switch-off {
    opacity: 0;
    pointer-events: none;
  }

  .hidden {
    pointer-events: none;

    &.obj-filter {
      transform: translateX(150%);
    }

    &.obj-tree {
      transform: translateX(-150%);
    }
  }

  button {
    font-family: var(--font-stack);
  }

  .hide-ui {
    & .header {
      &:before {
        background-color: transparent;
        border-color: transparent;
        transform: translateY(-7rem);
      }

      & .logo > * {
        color: var(--color--light).25;
        fill: var(--color--light).25;
      }

      & .breadcrumbs {
        opacity: 0;
        pointer-events: none;
        transform: translateY(-10rem);
      }

      & .ui-controls button {
        border-color: var(--color--light).125;

        &:not(.toggle-ui):not(.toggle-vr) {
          display: none;
        }

        &.toggle-ui svg {
          fill: var(--color--light).25;
        }

        &:hover {
          border-color: var(--color--light).25;

          & svg {
            fill: var(--color--light).625;
          }
        }

        &:active {
          border-color: var(--color--light).125;

          & svg {
            fill: var(--color--light).25;
          }
        }
      }

      & .app-nav {
        opacity: 0;
        pointer-events: none;
      }
    }

    & .obj-filter {
      transform: translateX(150%);
    }
    & .obj-tree-wrap {
      transform: translateX(-150%);
    }
  }
</style>

